In [17]:
#-*- coding: utf-8 -*-
import MySQLdb
import codecs

# 打开数据库连接
db = MySQLdb.connect("admin.citypet.cn","pocketpet","3MjdvUuXqxca6cbc","goldminer",charset="utf8")

# 使用cursor()方法获取操作游标 
cursor = db.cursor()

for line in codecs.open("/Users/abing/Downloads/bb.txt", "r", "utf8").readlines():
    parts = line.strip().split("\t")
    
#     print(parts[1])
#     sql = "alter table  cashflow_statement add %s double comment '%s'" % (parts[0], parts[1])
#     print(parts)
#     cursor.execute(sql)

# for line in codecs.open("/Users/abing/Downloads/上市公司列表.csv", "r", "utf8").readlines():
#     parts = line.strip().split(",")
#     code = parts[0].strip()
#     name = parts[1].strip()
#     pubdate = parts[7].strip()
#     totalstock = parts[8].strip()
#     c_stock = parts[9].strip()
#     industry = parts[18].strip()
#     if code == "公司代码":
#         continue
# #     print(parts[1])
#     sql = "insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('%s', '%s', '%s', '%s',  %s, %s, 2);" % \
#     (code, name, pubdate, industry, totalstock, c_stock)
#     print(sql)
#     cursor.execute(sql)
#     db.commit()

# 关闭数据库连接
db.close()

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000001', '平安银行', '1991-04-03', 'J 金融业',  17170411366, 16918003290, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000002', '万  科Ａ', '1991-01-29', 'K 房地产',  9724196533, 9715170043, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000004', '国农科技', '1990-12-01', 'C 制造业',  83976684, 83013184, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000005', '世纪星源', '1990-12-10', 'N 公共环保',  1058536842, 951222460, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000006', '深振业Ａ', '1992-04-27', 'K 房地产',  1349995046, 1348307972, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000007', '全新好', '1992-04-13', 'K 房地产',  346448044, 308948044, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000008', '神州高铁', '1992-05-07', 'C 制造业',  2818329809, 2554876920, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000009', '中国宝安', '1991-06-25', 'S 综合',  2149344971, 2119789066, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000010', '美丽生态', '1995-10-27', 'E 建筑业',  819854713, 522171298, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000011', '深物业A', '1992-03-30', 'K 房地产',  528373849, 175862626, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000012', '南  玻Ａ', '1992-02-28', 'C 制造业',  1607175957, 1509664303, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000014', '沙河股份', '1992-06-02', 'K 房地产',  201705187, 201705187, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000016', '深康佳Ａ', '1992-03-27', 'C 制造业',  1596593800, 1596574300, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000017', '深中华A', '1992-03-31', 'C 制造业',  302984965, 302981008, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000018', '神州长城', '1992-06-16', 'E 建筑业',  1434441780, 752917869, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000019', '深深宝Ａ', '1992-10-12', 'C 制造业',  445033023, 415964578, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000020', '深华发Ａ', '1992-04-28', 'C 制造业',  181165391, 181165391, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000021', '深科技', '1994-02-02', 'C 制造业',  1471259363, 1470715176, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000022', '深赤湾Ａ', '1993-05-05', 'G 运输仓储',  464868300, 464859300, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000023', '深天地Ａ', '1993-04-29', 'C 制造业',  138756240, 138756240, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000025', '特  力Ａ', '1993-06-21', 'F 批发零售',  270881600, 193881600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000026', '飞亚达Ａ', '1993-06-03', 'F 批发零售',  357096881, 356716368, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000027', '深圳能源', '1993-09-03', 'D 水电煤气',  3964491597, 3964491597, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000028', '国药一致', '1993-08-09', 'F 批发零售',  373241383, 307744355, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000029', '深深房Ａ', '1993-09-15', 'K 房地产',  891660000, 891592500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000030', '富奥股份', '1993-09-29', 'C 制造业',  1259095140, 1252245577, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000031', '中粮地产', '1993-10-08', 'K 房地产',  1813731596, 1813722958, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000032', '深桑达Ａ', '1993-10-28', 'F 批发零售',  422254134, 279431455, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000034', '神州数码', '1994-05-09', 'F 批发零售',  654070434, 357969933, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000035', '中国天楹', '1994-04-08', 'N 公共环保',  1351521423, 1168125821, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000036', '华联控股', '1994-06-17', 'K 房地产',  1141487712, 1133013462, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000037', '深南电A', '1994-07-01', 'D 水电煤气',  338908150, 338844011, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000038', '深大通', '1994-08-08', 'L 商务服务',  522777419, 80529203, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000039', '中集集团', '1994-04-08', 'C 制造业',  1268140027, 1267259501, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000040', '东旭蓝天', '1994-08-08', 'E 建筑业',  1337173272, 1060340670, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000042', '中洲控股', '1994-09-21', 'K 房地产',  664831139, 485435830, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000043', '中航地产', '1994-09-28', 'K 房地产',  666961416, 666819666, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000045', '深纺织Ａ', '1994-08-15', 'C 制造业',  461774149, 457016599, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000046', '泛海控股', '1994-09-12', 'K 房地产',  5196200656, 5095133984, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000048', '康达尔', '1994-11-01', 'C 制造业',  390768671, 385392267, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000049', '德赛电池', '1995-03-20', 'C 制造业',  205243738, 205243738, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000050', '深天马Ａ', '1995-03-15', 'C 制造业',  2048123051, 1401007344, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000053', '深基地Ｂ', '', 'G 运输仓储',  0, 0, 2);

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: Warning: (1265, "Data truncated for column 'pub_date' at row 1")

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000054', '建车B', '', 'C 制造业',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000055', '方大集团', '1996-04-15', 'C 制造业',  679715472, 678298229, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000056', '皇庭国际', '1996-07-08', 'K 房地产',  931293708, 286111180, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000058', '深 赛 格', '1996-12-26', 'L 商务服务',  989194931, 538010206, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000059', '华锦股份', '1997-01-30', 'C 制造业',  1599442537, 1599439081, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000060', '中金岭南', '1997-01-23', 'C 制造业',  2379790218, 2211664866, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000061', '农 产 品', '1997-01-10', 'L 商务服务',  1696964131, 1695421233, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000062', '深圳华强', '1997-01-30', 'F 批发零售',  721316774, 666949797, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000063', '中兴通讯', '1997-11-18', 'C 制造业',  3437169309, 3434124343, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000065', '北方国际', '1998-06-05', 'E 建筑业',  513003607, 408248817, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000066', '中国长城', '1997-06-26', 'C 制造业',  2944069459, 2490717309, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000068', '华控赛格', '1997-06-11', 'C 制造业',  1006671464, 1006670564, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000069', '华侨城Ａ', '1997-09-10', 'K 房地产',  8204081415, 6144200630, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000070', '特发信息', '2000-05-11', 'C 制造业',  626994746, 541768438, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000078', '海王生物', '1998-12-18', 'F 批发零售',  2646613257, 1856654687, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000088', '盐 田 港', '1997-07-28', 'G 运输仓储',  1942200000, 1942200000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000089', '深圳机场', '1998-04-20', 'G 运输仓储',  2050769509, 2050769509, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000090', '天健集团', '1999-07-21', 'E 建筑业',  1197785535, 773542061, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000096', '广聚能源', '2000-07-24', 'F 批发零售',  528000000, 510848000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000099', '中信海直', '2000-07-31', 'G 运输仓储',  606070420, 606070420, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000100', 'TCL 集团', '2004-01-30', 'C 制造业',  13514972063, 11727930515, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000150', '宜华健康', '2000-08-07', 'Q 卫生',  447804877, 375329434, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000151', '中成股份', '2000-09-06', 'F 批发零售',  295980000, 266540217, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000152', '山  航Ｂ', '', 'G 运输仓储',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000153', '丰原药业', '2000-09-20', 'C 制造业',  317077630, 311977230, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000155', '川化股份', '2000-09-26', 'C 制造业',  1270000000, 937200000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000156', '华数传媒', '2000-09-06', 'R 文化传播',  1433351902, 993624337, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000157', '中联重科', '2000-10-12', 'C 制造业',  6405840989, 6225797057, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000158', '常山北明', '2000-07-24', 'C 制造业',  1652874961, 1015015644, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000159', '国际实业', '2000-09-26', 'F 批发零售',  481139294, 481074419, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000160', '东沣B', '', 'K 房地产',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000166', '申万宏源', '2015-01-26', 'J 金融业',  22535944560, 20028119193, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000168', '舜喆B', '', 'K 房地产',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000301', '东方市场', '2000-05-29', 'D 水电煤气',  1218236445, 1218236445, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000333', '美的集团', '2013-09-18', 'C 制造业',  6584022574, 6366694664, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000338', '潍柴动力', '2007-04-30', 'C 制造业',  6054198556, 4313907250, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000400', '许继电气', '1997-04-18', 'C 制造业',  1008327309, 1008161234, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000401', '冀东水泥', '1996-06-14', 'C 制造业',  1347522914, 1347219626, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000402', '金 融 街', '1996-06-26', 'K 房地产',  2988929907, 2988033996, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000403', 'ST生化', '1996-06-28', 'C 制造业',  272577599, 265288674, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000404', '华意压缩', '1996-06-19', 'C 制造业',  695995979, 692617481, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000407', '胜利股份', '1996-07-03', 'D 水电煤气',  880084656, 737621623, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000408', '藏格控股', '1996-06-28', 'C 制造业',  1993779522, 446632951, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000409', '山东地矿', '1996-06-27', 'S 综合',  510931158, 395725952, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000410', '沈阳机床', '1996-07-18', 'C 制造业',  765470884, 740349384, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000411', '英特集团', '1996-07-16', 'F 批发零售',  207449946, 207313321, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000413', '东旭光电', '1996-09-25', 'C 制造业',  5480250117, 4094625592, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000415', '渤海金控', '1996-07-16', 'L 商务服务',  6184521282, 3115002595, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000416', '民生控股', '1996-07-19', 'J 金融业',  531871494, 531641098, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000417', '合肥百货', '1996-08-12', 'F 批发零售',  779884200, 779027451, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000418', '小天鹅Ａ', '1997-03-28', 'C 制造业',  441451892, 439364147, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000419', '通程控股', '1996-08-16', 'F 批发零售',  543582655, 543299848, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000420', '吉林化纤', '1996-08-02', 'C 制造业',  1970706656, 1663305424, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000421', '南京公用', '1996-08-06', 'D 水电煤气',  572646934, 572646934, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000422', '湖北宜化', '1996-08-15', 'C 制造业',  897866712, 897812984, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000423', '东阿阿胶', '1996-07-29', 'C 制造业',  654021537, 653867313, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000425', '徐工机械', '1996-08-28', 'C 制造业',  7007727655, 6993562958, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000426', '兴业矿业', '1996-08-28', 'B 采矿业',  1868500557, 1330261893, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000428', '华天酒店', '1996-08-08', 'H 住宿餐饮',  1018926000, 718884450, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000429', '粤高速Ａ', '1998-02-20', 'G 运输仓储',  1742056126, 468855023, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000430', '张家界', '1996-08-29', 'N 公共环保',  404817686, 258425516, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000468', '*ST宁通B', '', 'C 制造业',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000488', '晨鸣纸业', '2000-11-20', 'C 制造业',  1113278456, 1105388627, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000498', '山东路桥', '1997-06-09', 'E 建筑业',  1120139063, 440700000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000501', '鄂武商Ａ', '1992-11-20', 'F 批发零售',  768992731, 668726280, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000502', '绿景控股', '1992-11-23', 'K 房地产',  184819607, 183349607, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000503', '海虹控股', '1992-11-30', 'I 信息技术',  898822204, 898822204, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000504', '南华生物', '1992-12-08', 'M 科研服务',  311573901, 310673201, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000505', '京粮控股', '1992-12-21', 'C 制造业',  620815364, 360470904, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000506', '中润资源', '1993-03-12', 'B 采矿业',  929017761, 928670961, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000507', '珠海港', '1993-03-26', 'G 运输仓储',  789540919, 772143777, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000509', '华塑控股', '1993-05-07', 'C 制造业',  825483117, 825479873, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000510', '金路集团', '1993-05-07', 'C 制造业',  609182254, 549479157, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000511', '*ST烯碳', '1993-05-18', 'C 制造业',  1154832011, 1154832011, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000512', '闽灿坤Ｂ', '', 'C 制造业',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000513', '丽珠集团', '1993-10-28', 'C 制造业',  363962601, 348458846, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000514', '渝 开 发', '1993-07-12', 'K 房地产',  843770965, 843770965, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000516', '国际医学', '1993-08-09', 'F 批发零售',  1971049302, 1932653165, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000517', '荣安地产', '1993-08-06', 'K 房地产',  3183922485, 3035594816, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000518', '四环生物', '1993-09-08', 'C 制造业',  1029556222, 1029556222, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000519', '中兵红箭', '1993-10-08', 'C 制造业',  1403461644, 735174962, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000520', '长航凤凰', '1993-10-25', 'G 运输仓储',  1012083455, 1011997205, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000521', '美菱电器', '1993-10-18', 'C 制造业',  881733881, 802406013, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000523', '广州浪奇', '1993-11-08', 'C 制造业',  522944271, 445738057, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000524', '岭南控股', '1993-11-18', 'H 住宿餐饮',  670208597, 272369918, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000525', '红 太 阳', '1993-10-28', 'C 制造业',  580772873, 506983093, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000526', '*ST紫学', '1993-11-01', 'P 教育',  96195107, 96195107, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000528', '柳    工', '1993-11-18', 'C 制造业',  1125242136, 1125102095, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000529', '广弘控股', '1993-11-18', 'C 制造业',  583790330, 569884377, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000530', '大冷股份', '1993-12-08', 'C 制造业',  614408981, 593441726, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000531', '穗恒运Ａ', '1994-01-06', 'D 水电煤气',  685082820, 685080718, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000532', '华金资本', '1994-01-03', 'S 综合',  344708340, 343483446, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000533', '万 家 乐', '1994-01-03', 'C 制造业',  690816000, 684902400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000534', '万泽股份', '1994-01-10', 'K 房地产',  491785096, 491365394, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000536', '华映科技', '1993-11-26', 'C 制造业',  2766032803, 2003053914, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000537', '广宇发展', '1993-12-10', 'K 房地产',  1862520720, 512717581, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000538', '云南白药', '1993-12-15', 'C 制造业',  1041399718, 1041392430, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000539', '粤电力Ａ', '1993-11-26', 'D 水电煤气',  4451875986, 2553907040, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000540', '中天金融', '1994-02-02', 'K 房地产',  4697664786, 4324367922, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000541', '佛山照明', '1993-11-23', 'C 制造业',  979340368, 974762771, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000543', '皖能电力', '1993-12-20', 'D 水电煤气',  1790395978, 1790395978, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000544', '中原环保', '1993-12-08', 'D 水电煤气',  649789659, 347766856, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000545', '金浦钛业', '1993-12-15', 'C 制造业',  986833096, 959403096, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000546', '金圆股份', '1993-12-15', 'C 制造业',  714644396, 571789734, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000547', '航天发展', '1993-11-30', 'C 制造业',  1429628897, 970650675, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000548', '湖南投资', '1993-12-20', 'G 运输仓储',  499215811, 499201046, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000550', '江铃汽车', '1993-12-01', 'C 制造业',  519214000, 518307160, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000551', '创元科技', '1994-01-06', 'S 综合',  400080405, 400080405, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000552', '靖远煤电', '1994-01-06', 'B 采矿业',  2286971050, 1557438726, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000553', '沙隆达Ａ', '1993-12-03', 'C 制造业',  2279504241, 363902689, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000554', '泰山石油', '1993-12-15', 'F 批发零售',  480793318, 362649710, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000555', '神州信息', '1994-04-08', 'I 信息技术',  963431273, 915370699, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000557', '西部创业', '1994-06-17', 'G 运输仓储',  1458374735, 585245214, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000558', '莱茵体育', '1994-05-09', 'K 房地产',  1289223949, 1288328279, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000559', '万向钱潮', '1994-01-10', 'C 制造业',  2753159454, 2753149374, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000560', '昆百大Ａ', '1994-02-02', 'F 批发零售',  1811923732, 340899175, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000561', '烽火电子', '1994-05-09', 'C 制造业',  604043931, 593991864, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000563', '陕国投Ａ', '1994-01-10', 'J 金融业',  3090491732, 2861863634, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000564', '供销大集', '1994-01-10', 'F 批发零售',  6007828231, 1888326024, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000565', '渝三峡Ａ', '1994-04-08', 'C 制造业',  433592220, 433592220, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000566', '海南海药', '1994-05-25', 'C 制造业',  1335979264, 1103195493, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000567', '海德股份', '1994-05-25', 'J 金融业',  151200000, 150360840, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000568', '泸州老窖', '1994-05-09', 'C 制造业',  1464752476, 1401771961, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000570', '苏常柴Ａ', '1994-07-01', 'C 制造业',  411374326, 411374326, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000571', '新大洲Ａ', '1994-05-25', 'S 综合',  814064000, 806466574, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000572', '海马汽车', '1994-08-08', 'C 制造业',  1644636426, 1642151474, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000573', '粤宏远Ａ', '1994-08-15', 'K 房地产',  648205604, 622173003, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000576', '广东甘化', '1994-09-07', 'C 制造业',  442861324, 435413694, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000581', '威孚高科', '1998-09-24', 'C 制造业',  836570570, 836491991, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000582', '北部湾港', '1995-11-02', 'G 运输仓储',  1386564967, 263175194, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000584', '哈工智能', '1995-11-28', 'C 制造业',  613324339, 611324381, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000585', '*ST东电', '1995-12-13', 'C 制造业',  615420000, 609420978, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000586', '汇源通信', '1995-12-20', 'C 制造业',  193440000, 193440000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000587', '金洲慈航', '1996-04-25', 'C 制造业',  2123749330, 1213011850, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000589', '黔轮胎Ａ', '1996-03-08', 'C 制造业',  775464304, 775407255, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000590', '启迪古汉', '1996-01-19', 'C 制造业',  239471267, 223236227, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000591', '太阳能', '1996-02-08', 'D 水电煤气',  3007098032, 1848674966, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000592', '平潭发展', '1996-03-27', 'A 农林牧渔',  1931780892, 1913324132, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000593', '大通燃气', '1996-03-12', 'D 水电煤气',  358631009, 279792362, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000595', '*ST宝实', '1996-04-19', 'C 制造业',  764279250, 744751600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000596', '古井贡酒', '1996-09-27', 'C 制造业',  383600000, 383600000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000597', '东北制药', '1996-05-23', 'C 制造业',  474655068, 473378322, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000598', '兴蓉环境', '1996-05-29', 'D 水电煤气',  2986218602, 2986218602, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000599', '青岛双星', '1996-04-30', 'C 制造业',  835627649, 627957344, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000600', '建投能源', '1996-06-06', 'D 水电煤气',  1791626376, 1090044126, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000601', '韶能股份', '1996-08-30', 'D 水电煤气',  1080551669, 1079861382, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000603', '盛达矿业', '1996-08-23', 'B 采矿业',  689969346, 410746877, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000605', '渤海股份', '1996-09-13', 'D 水电煤气',  251899000, 194991066, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000606', '神州易桥', '1996-10-04', 'C 制造业',  765799353, 472113600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000607', '华媒控股', '1996-08-30', 'R 文化传播',  1017698410, 884859969, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000608', '阳光股份', '1996-09-19', 'K 房地产',  749913309, 749801859, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000609', '中迪投资', '1996-10-10', 'S 综合',  299275522, 268600996, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000610', '西安旅游', '1996-09-26', 'N 公共环保',  236747901, 235266969, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000611', '天首发展', '1996-10-08', 'C 制造业',  321822022, 319347925, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000612', '焦作万方', '1996-09-26', 'C 制造业',  1192199394, 999372703, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000613', '大东海A', '1997-01-28', 'H 住宿餐饮',  276100000, 265645600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000615', '京汉股份', '1996-10-16', 'K 房地产',  783602617, 354289350, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000616', '海航投资', '1996-11-08', 'K 房地产',  1430234425, 1430219425, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000617', '中油资本', '1996-10-22', 'J 金融业',  9030056485, 287539200, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000619', '海螺型材', '1996-10-23', 'C 制造业',  360000000, 360000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000620', '新华联', '1996-10-29', 'K 房地产',  1896690420, 1896680670, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000622', '恒立实业', '1996-11-07', 'C 制造业',  425226000, 425226000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000623', '吉林敖东', '1996-10-28', 'C 制造业',  1162769962, 1096138498, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000625', '长安汽车', '1997-06-10', 'C 制造业',  3900662369, 3760881066, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000626', '远大控股', '1996-11-28', 'F 批发零售',  598634538, 404595000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000627', '天茂集团', '1996-11-12', 'J 金融业',  4940629165, 1353584297, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000628', '高新发展', '1996-11-18', 'E 建筑业',  311480000, 187980340, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000629', '*ST钒钛', '1996-11-15', 'B 采矿业',  8589746202, 4767342665, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000630', '铜陵有色', '1996-11-20', 'C 制造业',  10526533308, 9560567418, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000631', '顺发恒业', '1996-11-22', 'K 房地产',  2432519168, 2432519168, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000632', '三木集团', '1996-11-21', 'F 批发零售',  465519570, 465481606, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000633', '合金投资', '1996-11-12', 'C 制造业',  385106373, 384931172, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000635', '英 力 特', '1996-11-20', 'C 制造业',  303087602, 303087602, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000636', '风华高科', '1996-11-29', 'C 制造业',  895233111, 875450903, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000637', '茂化实华', '1996-11-14', 'C 制造业',  519875356, 366494967, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000638', '万方发展', '1996-11-26', 'F 批发零售',  309400000, 308159050, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000639', '西王食品', '1996-11-26', 'C 制造业',  550728620, 375307532, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000650', '仁和药业', '1996-12-10', 'C 制造业',  1238340076, 1237995020, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000651', '格力电器', '1996-11-18', 'C 制造业',  6015730878, 5969568328, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000652', '泰达股份', '1996-11-28', 'F 批发零售',  1475573852, 1474163184, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000655', '金岭矿业', '1996-11-28', 'B 采矿业',  595340230, 595340230, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000656', '金科股份', '1996-11-28', 'K 房地产',  5339715816, 5221931024, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000657', '中钨高新', '1996-12-05', 'C 制造业',  628654664, 245570701, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000659', '*ST中富', '1996-12-03', 'C 制造业',  1285702520, 1285702520, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000661', '长春高新', '1996-12-18', 'C 制造业',  170112265, 169980751, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000662', '天夏智慧', '1996-12-16', 'I 信息技术',  840844445, 287921700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000663', '永安林业', '1996-12-06', 'C 制造业',  340988702, 197039304, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000665', '湖北广电', '1996-12-10', 'R 文化传播',  636217448, 636158823, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000666', '经纬纺机', '1996-12-10', 'C 制造业',  523330000, 293518766, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000667', '美好置业', '1996-12-05', 'K 房地产',  2559592332, 2539918331, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000668', '荣丰控股', '1996-12-10', 'K 房地产',  146841890, 146688393, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000669', '金鸿控股', '1996-12-10', 'D 水电煤气',  486006284, 478526080, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000670', '盈方微', '1996-12-17', 'C 制造业',  816627360, 599616536, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000671', '阳 光 城', '1996-12-18', 'K 房地产',  4050073315, 3243808388, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000672', '上峰水泥', '1996-12-18', 'C 制造业',  813619871, 813619871, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000673', '当代东方', '1997-01-24', 'R 文化传播',  791550442, 417321255, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000676', '智度股份', '1996-12-24', 'I 信息技术',  965710782, 316489122, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000677', '恒天海龙', '1996-12-26', 'C 制造业',  863977948, 863977948, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000678', '襄阳轴承', '1997-01-06', 'C 制造业',  459611797, 429079797, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000679', '大连友谊', '1997-01-24', 'F 批发零售',  356400000, 356350622, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000680', '山推股份', '1997-01-22', 'C 制造业',  1240787611, 1056921167, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000681', '视觉中国', '1997-01-21', 'R 文化传播',  700577436, 279871873, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000682', '东方电子', '1997-01-21', 'C 制造业',  978163195, 978021732, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000683', '远兴能源', '1997-01-31', 'C 制造业',  3967172992, 2832683853, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000685', '中山公用', '1997-01-23', 'D 水电煤气',  1475111351, 1253229908, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000686', '东北证券', '1997-02-27', 'J 金融业',  2340452915, 2340452915, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000687', '华讯方舟', '1997-02-21', 'C 制造业',  766199362, 527734825, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000688', '建新矿业', '1997-01-20', 'B 采矿业',  1137299314, 1137294994, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000690', '宝新能源', '1997-01-28', 'D 水电煤气',  2175887862, 2042231895, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000691', '亚太实业', '1997-02-28', 'K 房地产',  323270000, 290486300, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000692', '惠天热电', '1997-02-27', 'D 水电煤气',  532832976, 532785879, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000693', '*ST华泽', '1997-02-26', 'B 采矿业',  543491923, 277355151, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000695', '滨海能源', '1997-02-18', 'D 水电煤气',  222147539, 221721339, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000697', '炼石有色', '1997-03-25', 'C 制造业',  559680049, 453773223, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000698', '沈阳化工', '1997-02-20', 'C 制造业',  819514395, 627096872, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000700', '模塑科技', '1997-02-28', 'C 制造业',  827178715, 697383901, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000701', '厦门信达', '1997-02-26', 'F 批发零售',  406613056, 377894352, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000702', '正虹科技', '1997-03-18', 'C 制造业',  266634576, 266634576, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000703', '恒逸石化', '1997-03-28', 'C 制造业',  1648424362, 1472554292, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000705', '浙江震元', '1997-04-10', 'F 批发零售',  334123286, 281983639, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000706', '瓦轴B', '', 'C 制造业',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000707', '双环科技', '1997-04-15', 'C 制造业',  464145765, 464144265, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000708', '大冶特钢', '1997-03-26', 'C 制造业',  449408480, 449408480, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000709', '河钢股份', '1997-04-16', 'C 制造业',  10618607852, 10616894867, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000710', '贝瑞基因', '1997-04-22', 'M 科研服务',  354605865, 151200000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000711', '京蓝科技', '1997-04-11', 'E 建筑业',  730545885, 336877796, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000712', '锦龙股份', '1997-04-15', 'J 金融业',  896000000, 894813650, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000713', '丰乐种业', '1997-04-22', 'A 农林牧渔',  298875968, 298875968, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000715', '中兴商业', '1997-05-08', 'F 批发零售',  279006000, 278565594, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000716', '黑芝麻', '1997-04-18', 'C 制造业',  711014572, 588311608, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000717', '韶钢松山', '1997-05-08', 'C 制造业',  2419524410, 2419516835, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000718', '苏宁环球', '1997-04-08', 'K 房地产',  3034636384, 2289030641, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000719', '中原传媒', '1997-03-31', 'R 文化传播',  1023203749, 667147543, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000720', '新能泰山', '1997-05-09', 'D 水电煤气',  1289650962, 863460000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000721', '西安饮食', '1997-04-30', 'H 住宿餐饮',  499055920, 435795445, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000722', '湖南发展', '1997-05-22', 'D 水电煤气',  464158282, 464158282, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000723', '美锦能源', '1997-05-15', 'C 制造业',  4105932102, 1081244412, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000725', '京东方Ａ', '2001-01-12', 'C 制造业',  33862285275, 33859748809, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000726', '鲁  泰Ａ', '2000-12-25', 'C 制造业',  561883400, 561072657, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000727', '华东科技', '1997-05-20', 'C 制造业',  4529566980, 2442451689, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000728', '国元证券', '1997-06-16', 'J 金融业',  3365447047, 2946150000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000729', '燕京啤酒', '1997-07-16', 'C 制造业',  2818539341, 2509443521, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000731', '四川美丰', '1997-06-17', 'C 制造业',  591484352, 591484352, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000732', '泰禾集团', '1997-07-04', 'K 房地产',  1244450720, 1243059698, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000733', '振华科技', '1997-07-03', 'C 制造业',  469342218, 469342218, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000735', '罗 牛 山', '1997-06-11', 'A 农林牧渔',  1151513578, 1059614623, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000736', '中交地产', '1997-04-25', 'K 房地产',  297193885, 297193885, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000737', '*ST南风', '1997-04-28', 'C 制造业',  548760000, 548760000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000738', '航发控制', '1997-06-26', 'C 制造业',  1145642349, 1145634399, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000739', '普洛药业', '1997-05-09', 'C 制造业',  1178523492, 1146824064, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000750', '国海证券', '1997-07-09', 'J 金融业',  4215541972, 4215538597, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000751', '锌业股份', '1997-06-26', 'C 制造业',  1409869279, 1409850479, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000752', '西藏发展', '1997-06-25', 'C 制造业',  263758491, 263754527, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000753', '漳州发展', '1997-06-26', 'F 批发零售',  991481071, 884146545, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000755', '*ST三维', '1997-06-27', 'C 制造业',  469264621, 469258113, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000756', '新华制药', '1997-08-06', 'C 制造业',  328353421, 307303905, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000757', '浩物股份', '1997-06-27', 'C 制造业',  451621156, 451619600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000758', '中色股份', '1997-04-16', 'B 采矿业',  1969378424, 1969191056, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000759', '中百集团', '1997-05-19', 'F 批发零售',  681021500, 680571947, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000760', '斯太尔', '1997-06-27', 'C 制造业',  771844628, 654444268, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000761', '本钢板材', '1998-01-15', 'C 制造业',  3475371532, 2736000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000762', '西藏矿业', '1997-07-08', 'B 采矿业',  520819240, 475951155, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000766', '通化金马', '1997-04-30', 'C 制造业',  966494707, 449016276, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000767', '漳泽电力', '1997-06-09', 'D 水电煤气',  3076942219, 2912295069, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000768', '中航飞机', '1997-06-26', 'C 制造业',  2768645071, 2768628046, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000771', '杭汽轮Ｂ', '', 'C 制造业',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000776', '广发证券', '1997-06-11', 'J 金融业',  5919291464, 5919291464, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000777', '中核科技', '1997-07-10', 'C 制造业',  383417593, 383406551, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000778', '新兴铸管', '1997-06-06', 'C 制造业',  3990880176, 3642984521, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000779', '三毛派神', '1997-05-28', 'C 制造业',  186441020, 186441020, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000780', '*ST平能', '1997-06-06', 'B 采矿业',  1014306324, 1014306324, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000782', '美达股份', '1997-06-19', 'C 制造业',  528139623, 446316970, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000783', '长江证券', '1997-07-31', 'J 金融业',  5529467678, 5529392213, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000785', '武汉中商', '1997-07-11', 'F 批发零售',  251221698, 251093698, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000786', '北新建材', '1997-06-06', 'C 制造业',  1788579717, 1413981592, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000788', '北大医药', '1997-06-16', 'C 制造业',  595987425, 558774372, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000789', '万年青', '1997-09-23', 'C 制造业',  613364368, 613349824, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000790', '泰合健康', '1998-03-27', 'C 制造业',  431021374, 430574173, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000791', '甘肃电投', '1997-10-14', 'D 水电煤气',  971126200, 971089950, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000792', '盐湖股份', '1997-09-04', 'C 制造业',  2786090601, 2749891628, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000793', '华闻传媒', '1997-07-29', 'R 文化传播',  2001294740, 1891719412, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000795', '英洛华', '1997-08-08', 'C 制造业',  1133684103, 685850086, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000796', '凯撒旅游', '1997-07-03', 'L 商务服务',  803000258, 245995865, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000797', '中国武夷', '1997-07-15', 'K 房地产',  1007663640, 999528852, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000798', '中水渔业', '1998-02-12', 'A 农林牧渔',  319455000, 319385250, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000799', '酒鬼酒', '1997-07-18', 'C 制造业',  324928980, 324928905, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000800', '一汽轿车', '1997-06-18', 'C 制造业',  1627500000, 1411754078, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000801', '四川九洲', '1998-05-06', 'C 制造业',  1022806646, 1022806646, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000802', '北京文化', '1998-01-08', 'R 文化传播',  723150255, 385129485, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000803', '*ST金宇', '1998-03-03', 'C 制造业',  127730893, 127730893, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000806', '银河生物', '1998-04-16', 'C 制造业',  1099911762, 698448301, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000807', '云铝股份', '1998-04-08', 'C 制造业',  2606838797, 2253038623, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000809', '*ST新城', '1998-06-16', 'N 公共环保',  824791293, 824791293, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000810', '创维数字', '1998-06-02', 'C 制造业',  1070931280, 959971819, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000811', '冰轮环境', '1998-05-28', 'C 制造业',  653054151, 604859544, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000812', '陕西金叶', '1998-06-23', 'C 制造业',  512461743, 446168541, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000813', '德展健康', '1998-05-19', 'C 制造业',  2241481800, 1080570388, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000815', '美利云', '1998-06-09', 'C 制造业',  695263035, 316800000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000816', '智慧农业', '1997-08-18', 'C 制造业',  1418803318, 1336277472, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000818', '方大化工', '1997-10-17', 'C 制造业',  691842500, 690313175, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000819', '岳阳兴长', '1997-06-25', 'C 制造业',  271338100, 271324835, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000820', '神雾节能', '1998-06-30', 'C 制造业',  637245222, 287656920, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000821', '京山轻机', '1998-06-26', 'C 制造业',  538235280, 345186281, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000822', '山东海化', '1998-07-03', 'C 制造业',  895091926, 895091926, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000823', '超声电子', '1997-10-08', 'C 制造业',  536966000, 536920512, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000825', '太钢不锈', '1998-10-21', 'C 制造业',  5696247796, 5696074051, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000826', '启迪桑德', '1998-02-25', 'N 公共环保',  1021841989, 848322514, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000828', '东莞控股', '1997-06-17', 'G 运输仓储',  1039516992, 1039515642, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000829', '天音控股', '1997-12-02', 'F 批发零售',  1061287429, 950077151, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000830', '鲁西化工', '1998-08-07', 'C 制造业',  1464860778, 1463979578, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000831', '五矿稀土', '1998-09-11', 'C 制造业',  980888981, 980888981, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000833', '贵糖股份', '1998-11-11', 'C 制造业',  668401851, 378086447, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000835', '长城动漫', '1999-06-25', 'I 信息技术',  326760374, 302895000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000836', '鑫茂科技', '1997-09-29', 'C 制造业',  1208455224, 1182648031, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000837', '秦川机床', '1998-09-28', 'C 制造业',  693370910, 582616476, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000838', '财信发展', '1997-06-26', 'K 房地产',  1100462170, 631994020, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000839', '中信国安', '1997-10-31', 'I 信息技术',  3919826352, 3919204277, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000848', '承德露露', '1997-11-13', 'C 制造业',  978562728, 978320876, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000850', '华茂股份', '1998-10-07', 'C 制造业',  943665009, 943382487, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000851', '高鸿股份', '1998-06-09', 'F 批发零售',  648307048, 591150371, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000852', '石化机械', '1998-11-26', 'C 制造业',  598157690, 598157690, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000856', '冀东装备', '1998-08-13', 'C 制造业',  227000000, 227000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000858', '五 粮 液', '1998-04-27', 'C 制造业',  3795966720, 3795770918, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000859', '国风塑业', '1998-11-19', 'C 制造业',  739449730, 739312480, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000860', '顺鑫农业', '1998-11-04', 'C 制造业',  570589992, 570589992, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000861', '海印股份', '1998-10-28', 'L 商务服务',  2249879162, 1872119659, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000862', '银星能源', '1998-09-15', 'D 水电煤气',  706118997, 501352890, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000863', '三湘印象', '1997-09-25', 'K 房地产',  1381752594, 919235514, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000868', '安凯客车', '1997-07-25', 'C 制造业',  695565603, 695560403, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000869', '张  裕Ａ', '2000-10-26', 'C 制造业',  453460800, 453460800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000875', '吉电股份', '2002-09-26', 'D 水电煤气',  2146313980, 1954309256, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000876', '新 希 望', '1998-03-11', 'C 制造业',  4216015009, 4167533844, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000877', '天山股份', '1999-01-07', 'C 制造业',  1048722959, 880094399, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000878', '云南铜业', '1998-06-02', 'C 制造业',  1416398800, 1416391956, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000880', '潍柴重机', '1998-04-02', 'C 制造业',  276100500, 135120000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000881', '中广核技', '1998-09-02', 'S 综合',  1055597987, 308054400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000882', '华联股份', '1998-06-16', 'L 商务服务',  2737351947, 2226082498, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000883', '湖北能源', '1998-05-19', 'D 水电煤气',  6507449486, 5345829103, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000885', '同力水泥', '1999-03-19', 'G 运输仓储',  496381983, 496381983, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000886', '海南高速', '1998-01-23', 'K 房地产',  988828300, 965342948, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000887', '中鼎股份', '1998-12-03', 'C 制造业',  1234440095, 1217970822, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000888', '峨眉山Ａ', '1997-10-21', 'N 公共环保',  526913102, 526913102, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000889', '茂业通信', '1997-12-18', 'I 信息技术',  621826786, 621643712, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000890', '法 尔 胜', '1999-01-19', 'C 制造业',  379641600, 379624602, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000892', '欢瑞世纪', '1999-01-15', 'R 文化传播',  980980473, 392704368, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000893', '东凌国际', '1998-12-24', 'C 制造业',  756903272, 400741950, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000895', '双汇发展', '1998-12-10', 'C 制造业',  3299558284, 3299023590, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000897', '津滨发展', '1999-04-22', 'K 房地产',  1617272234, 1617216659, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000898', '鞍钢股份', '1997-12-25', 'C 制造业',  6149007847, 6148992110, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000899', '赣能股份', '1997-11-26', 'D 水电煤气',  975677760, 646674006, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000900', '现代投资', '1999-01-28', 'G 运输仓储',  1517828334, 1516929286, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000901', '航天科技', '1999-04-01', 'C 制造业',  409460479, 378004227, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000902', '新洋丰', '1999-04-08', 'C 制造业',  1304529290, 1169745804, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000903', '云内动力', '1999-04-15', 'C 制造业',  1970800857, 1740711740, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000905', '厦门港务', '1999-04-29', 'G 运输仓储',  531000000, 531000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000906', '浙商中拓', '1999-07-07', 'F 批发零售',  510812469, 429787542, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000908', '景峰医药', '1999-02-03', 'C 制造业',  879774351, 535174631, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000909', '数源科技', '1999-05-07', 'S 综合',  312352464, 311002026, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000910', '大亚圣象', '1999-06-30', 'C 制造业',  555270000, 528759925, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000911', '南宁糖业', '1999-05-27', 'C 制造业',  324080937, 324080937, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000912', '*ST天化', '1999-06-03', 'C 制造业',  585000000, 585000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000913', '钱江摩托', '1999-05-14', 'C 制造业',  453536000, 453531500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000915', '山大华特', '1999-06-09', 'C 制造业',  234331485, 233432457, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000917', '电广传媒', '1999-03-25', 'I 信息技术',  1417556338, 1294508488, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000918', '嘉凯城', '1999-07-20', 'K 房地产',  1804191500, 1804191500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000919', '金陵药业', '1999-11-18', 'C 制造业',  504000000, 503020601, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000920', '南方汇通', '1999-06-16', 'C 制造业',  422000000, 421892825, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000921', '海信科龙', '1999-07-13', 'C 制造业',  903135562, 902035065, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000922', '*ST佳电', '1999-06-18', 'C 制造业',  489893378, 431685720, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000923', '河北宣工', '1999-07-14', 'B 采矿业',  652728961, 198000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000925', '众合科技', '1999-06-11', 'C 制造业',  392925733, 305278874, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000926', '福星股份', '1999-06-18', 'K 房地产',  971522474, 949043927, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000927', '一汽夏利', '1999-07-27', 'C 制造业',  1595174020, 1595170960, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000928', '中钢国际', '1999-03-12', 'E 建筑业',  1256662942, 743158264, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000929', '兰州黄河', '1999-06-23', 'C 制造业',  185766000, 185665896, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000930', '中粮生化', '1999-07-12', 'C 制造业',  964411115, 964397222, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000931', '中 关 村', '1999-07-12', 'S 综合',  753126982, 702187224, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000932', '华菱钢铁', '1999-08-03', 'C 制造业',  3015650025, 3015319656, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000933', '神火股份', '1999-08-31', 'C 制造业',  1900500000, 1900468650, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000935', '四川双马', '1999-08-24', 'C 制造业',  763440333, 629487591, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000936', '华西股份', '1999-08-10', 'C 制造业',  886012887, 747374639, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000937', '冀中能源', '1999-09-09', 'B 采矿业',  3533546850, 2906599842, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000938', '紫光股份', '1999-11-04', 'C 制造业',  1042303162, 206080000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000939', '凯迪生态', '1999-09-23', 'D 水电煤气',  3929595494, 3037807076, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000948', '南天信息', '1999-10-14', 'I 信息技术',  246606046, 246484846, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000949', '新乡化纤', '1999-10-21', 'C 制造业',  1257656049, 1220263674, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000950', '*ST建峰', '1999-09-16', 'F 批发零售',  1728184696, 598799235, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000951', '中国重汽', '1999-11-25', 'C 制造业',  671080800, 670946970, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000952', '广济药业', '1999-11-12', 'C 制造业',  251705513, 251695243, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000953', '*ST河化', '1999-12-02', 'C 制造业',  294059437, 294059437, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000955', '欣龙控股', '1999-12-09', 'C 制造业',  538395000, 538391250, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000957', '中通客车', '2000-01-13', 'C 制造业',  592903936, 476998666, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000958', '东方能源', '1999-12-23', 'D 水电煤气',  1102273226, 666288902, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000959', '首钢股份', '1999-12-16', 'C 制造业',  5289389600, 2966521221, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000960', '锡业股份', '2000-02-21', 'C 制造业',  1668776379, 1209423038, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000961', '中南建设', '2000-03-01', 'E 建筑业',  3709788797, 3699838249, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000962', '东方钽业', '2000-01-20', 'C 制造业',  440832644, 440831060, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000963', '华东医药', '2000-01-27', 'F 批发零售',  972116416, 868119982, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000965', '天保基建', '2000-04-06', 'K 房地产',  1008937178, 1008937178, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000966', '长源电力', '2000-03-16', 'D 水电煤气',  1108284080, 1108284080, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000967', '盈峰环境', '2000-03-30', 'C 制造业',  1166988852, 744143055, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000968', '蓝焰控股', '2000-06-22', 'B 采矿业',  967502660, 513441506, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000969', '安泰科技', '2000-05-29', 'C 制造业',  1026008097, 890474193, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000970', '中科三环', '2000-04-20', 'C 制造业',  1065200000, 1063591194, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000971', '高升控股', '2000-04-27', 'I 信息技术',  510817668, 290872270, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000972', '*ST中基', '2000-09-26', 'C 制造业',  771283579, 771221004, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000973', '佛塑科技', '2000-05-25', 'C 制造业',  967423171, 967399968, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000975', '银泰资源', '2000-06-08', 'B 采矿业',  1416695034, 877757518, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000976', '华铁股份', '2000-06-01', 'C 制造业',  1595678796, 586528804, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000977', '浪潮信息', '2000-06-08', 'C 制造业',  1289252171, 1284108728, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000978', '桂林旅游', '2000-05-18', 'N 公共环保',  360100000, 360027925, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000979', '中弘股份', '2000-06-16', 'K 房地产',  8390601199, 8388793899, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000980', '众泰汽车', '2000-06-16', 'C 制造业',  2037732279, 527515250, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000981', '银亿股份', '2000-06-22', 'K 房地产',  4027989882, 2574315600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000982', '*ST 中绒', '2000-07-06', 'C 制造业',  1805043279, 1805016911, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000983', '西山煤电', '2000-07-26', 'B 采矿业',  3151200000, 3151197660, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000985', '大庆华科', '2000-07-26', 'C 制造业',  129639500, 129639500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000986', '粤华包Ｂ', '', 'C 制造业',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000987', '越秀金控', '2000-07-18', 'J 金融业',  2223830413, 538374483, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000988', '华工科技', '2000-06-08', 'C 制造业',  1005502707, 890951632, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000989', '九 芝 堂', '2000-06-28', 'C 制造业',  869354236, 413464677, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000990', '诚志股份', '2000-07-06', 'C 制造业',  1253011919, 387677317, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000992', '中  鲁Ｂ', '', 'A 农林牧渔',  0, 0, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000993', '闽东电力', '2000-07-31', 'D 水电煤气',  457951455, 373000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000995', '皇台酒业', '2000-08-07', 'C 制造业',  177408000, 177408000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000996', '中国中期', '2000-07-18', 'F 批发零售',  345000000, 345000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000997', '新 大 陆', '2000-08-07', 'I 信息技术',  1010809917, 929383822, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000998', '隆平高科', '2000-12-11', 'A 农林牧渔',  1256194674, 965221189, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('000999', '华润三九', '2000-03-09', 'C 制造业',  978900000, 978395308, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('001696', '宗申动力', '1997-03-06', 'C 制造业',  1145026920, 891759150, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('001896', '豫能控股', '1998-01-22', 'D 水电煤气',  1150587847, 855268476, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('001965', '招商公路', '2017-12-25', 'G 运输仓储',  6178211497, 554813631, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('001979', '招商蛇口', '2015-12-30', 'K 房地产',  7904092722, 1899852525, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002001', '新 和 成', '2004-06-25', 'C 制造业',  1263919000, 1073009624, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002002', '鸿达兴业', '2004-06-25', 'C 制造业',  2584549733, 2082201751, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002003', '伟星股份', '2004-06-25', 'C 制造业',  583092637, 478571562, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002004', '华邦健康', '2004-06-25', 'C 制造业',  2034827685, 1669139177, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002005', '德豪润达', '2004-06-25', 'C 制造业',  1764720000, 1266400000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002006', '精功科技', '2004-06-25', 'C 制造业',  455160000, 455160000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002007', '华兰生物', '2004-06-25', 'C 制造业',  930087680, 802550138, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002008', '大族激光', '2004-06-25', 'C 制造业',  1067065245, 993289786, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002009', '天奇股份', '2004-06-29', 'C 制造业',  370549434, 271419830, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002010', '传化智联', '2004-06-29', 'C 制造业',  3257814678, 412817189, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002011', '盾安环境', '2004-07-05', 'C 制造业',  917212180, 840244410, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002012', '凯恩股份', '2004-07-05', 'C 制造业',  467625470, 467574570, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002013', '中航机电', '2004-07-05', 'C 制造业',  2405755557, 2095042575, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002014', '永新股份', '2004-07-08', 'C 制造业',  335744483, 323614928, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002015', '霞客环保', '2004-07-08', 'C 制造业',  400703825, 400703825, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002016', '世荣兆业', '2004-07-08', 'K 房地产',  809095632, 646095632, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002017', '东信和平', '2004-07-13', 'C 制造业',  346325336, 345113778, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002018', '华信国际', '2004-07-13', 'F 批发零售',  2277827422, 2277827422, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002019', '亿帆医药', '2004-07-13', 'C 制造业',  1206974577, 707775808, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002020', '京新药业', '2004-07-15', 'C 制造业',  736124472, 510370221, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002021', '中捷资源', '2004-07-15', 'C 制造业',  687815040, 687757790, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002022', '科华生物', '2004-07-21', 'C 制造业',  512569193, 473992944, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002023', '海特高新', '2004-07-21', 'C 制造业',  756791003, 659280517, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002024', '苏宁易购', '2004-07-21', 'F 批发零售',  9310039655, 5049065150, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002025', '航天电器', '2004-07-26', 'C 制造业',  429000000, 428898772, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002026', '山东威达', '2004-07-27', 'C 制造业',  420098419, 366634247, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002027', '分众传媒', '2004-08-04', 'L 商务服务',  12231566900, 5804074052, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002028', '思源电气', '2004-08-05', 'C 制造业',  760209282, 579587799, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002029', '七 匹 狼', '2004-08-06', 'C 制造业',  755670000, 755522168, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002030', '达安基因', '2004-08-09', 'C 制造业',  724920472, 694373656, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002031', '巨轮智能', '2004-08-16', 'C 制造业',  2199395670, 1890915823, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002032', '苏 泊 尔', '2004-08-17', 'C 制造业',  821287610, 544645034, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002033', '丽江旅游', '2004-08-25', 'N 公共环保',  549490711, 549480181, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002034', '旺能环境', '2004-08-26', 'N 公共环保',  245038262, 53034410, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002035', '华帝股份', '2004-09-01', 'C 制造业',  581762083, 521037466, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002036', '联创电子', '2004-09-03', 'C 制造业',  558029837, 395044370, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002037', '久联发展', '2004-09-08', 'C 制造业',  327368160, 327368160, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002038', '双鹭药业', '2004-09-09', 'C 制造业',  684900000, 567109891, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002039', '黔源电力', '2005-03-03', 'D 水电煤气',  305398662, 305363038, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002040', '南 京 港', '2005-03-25', 'G 运输仓储',  372282154, 306748746, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002041', '登海种业', '2005-04-18', 'A 农林牧渔',  880000000, 873862143, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002042', '华孚时尚', '2005-04-27', 'C 制造业',  1012917037, 1011810037, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002043', '兔 宝 宝', '2005-05-10', 'C 制造业',  862460685, 716350400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002044', '美年健康', '2005-05-18', 'Q 卫生',  2601305797, 1061780013, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002045', '国光电器', '2005-05-23', 'C 制造业',  416904000, 415685775, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002046', '轴研科技', '2005-05-26', 'C 制造业',  524349078, 340565970, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002047', '宝鹰股份', '2005-05-31', 'E 建筑业',  1341296921, 1263063110, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002048', '宁波华翔', '2005-06-03', 'C 制造业',  626227314, 460243814, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002049', '紫光国芯', '2005-06-06', 'C 制造业',  606817968, 604599648, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002050', '三花智控', '2005-06-07', 'C 制造业',  2120316835, 1563788479, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002051', '中工国际', '2006-06-19', 'E 建筑业',  1112774016, 1107894538, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002052', '同洲电子', '2006-06-27', 'C 制造业',  745959694, 745953215, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002053', '云南能投', '2006-06-27', 'C 制造业',  558329336, 371702206, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002054', '德美化工', '2006-07-25', 'C 制造业',  419230828, 313647269, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002055', '得润电子', '2006-07-25', 'C 制造业',  467144096, 402060297, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002056', '横店东磁', '2006-08-02', 'C 制造业',  1643600000, 1642515335, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002057', '中钢天源', '2006-08-02', 'C 制造业',  256522820, 199381670, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002058', '威 尔 泰', '2006-08-02', 'C 制造业',  143448332, 143448332, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002059', '云南旅游', '2006-08-10', 'N 公共环保',  730792576, 730792576, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002060', '粤 水 电', '2006-08-10', 'E 建筑业',  1202262058, 1201721856, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002061', '浙江交科', '2006-08-16', 'E 建筑业',  1305236388, 453259717, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002062', '宏润建设', '2006-08-16', 'E 建筑业',  1102500000, 958605707, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002063', '远光软件', '2006-08-23', 'I 信息技术',  607014388, 535161688, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002064', '华峰氨纶', '2006-08-23', 'C 制造业',  1676800000, 1538690614, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002065', '东华软件', '2006-08-23', 'I 信息技术',  3139787560, 2787580616, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002066', '瑞泰科技', '2006-08-23', 'C 制造业',  231000000, 231000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002067', '景兴纸业', '2006-09-15', 'C 制造业',  1128451000, 960269900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002068', '黑猫股份', '2006-09-15', 'C 制造业',  727063596, 606999471, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002069', '獐子岛', '2006-09-28', 'A 农林牧渔',  711112194, 688673319, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002070', '*ST众和', '2006-10-12', 'C 制造业',  635258156, 580795450, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002071', '长城影视', '2006-10-12', 'R 文化传播',  525429878, 518447102, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002072', '凯瑞德', '2006-10-18', 'I 信息技术',  176000000, 169142650, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002073', '软控股份', '2006-10-18', 'C 制造业',  935444674, 748495573, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002074', '国轩高科', '2006-10-18', 'C 制造业',  1136650819, 630716819, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002075', '沙钢股份', '2006-10-25', 'C 制造业',  2206771772, 2206770722, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002076', '雪 莱 特', '2006-10-25', 'C 制造业',  730241172, 445837688, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002077', '大港股份', '2006-11-16', 'K 房地产',  580348513, 373715927, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002078', '太阳纸业', '2006-11-16', 'C 制造业',  2592585238, 2531569313, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002079', '苏州固锝', '2006-11-16', 'C 制造业',  727971487, 726406098, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002080', '中材科技', '2006-11-20', 'C 制造业',  806790185, 400000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002081', '金 螳 螂', '2006-11-20', 'E 建筑业',  2643308689, 2570908493, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002082', '万邦德', '2006-11-20', 'C 制造业',  238000000, 238000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002083', '孚日股份', '2006-11-24', 'C 制造业',  908000005, 865955001, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002084', '海鸥住工', '2006-11-24', 'C 制造业',  506392628, 404555776, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002085', '万丰奥威', '2006-11-28', 'C 制造业',  2186879678, 2113733508, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002086', '东方海洋', '2006-11-28', 'A 农林牧渔',  687700000, 475617200, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002087', '新野纺织', '2006-11-30', 'C 制造业',  816794335, 815638642, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002088', '鲁阳节能', '2006-11-30', 'C 制造业',  350968033, 207817523, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002089', '新 海 宜', '2006-11-30', 'C 制造业',  1374669616, 979704386, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002090', '金智科技', '2006-12-08', 'C 制造业',  237802904, 213026144, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002091', '江苏国泰', '2006-12-08', 'F 批发零售',  1576187169, 967666664, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002092', '中泰化学', '2006-12-08', 'C 制造业',  2146449598, 2034384932, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002093', '国脉科技', '2006-12-15', 'I 信息技术',  1007500000, 965918770, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002094', '青岛金王', '2006-12-15', 'C 制造业',  392548392, 352098217, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002095', '生 意 宝', '2006-12-15', 'I 信息技术',  252720000, 251638091, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002096', '南岭民爆', '2006-12-22', 'C 制造业',  371287000, 370852000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002097', '山河智能', '2006-12-22', 'C 制造业',  1056068465, 617987846, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002098', '浔兴股份', '2006-12-22', 'C 制造业',  358000000, 309996800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002099', '海翔药业', '2006-12-26', 'C 制造业',  1621610253, 1578858903, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002100', '天康生物', '2006-12-26', 'C 制造业',  963384608, 709446116, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002101', '广东鸿图', '2006-12-29', 'C 制造业',  354717911, 248023001, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002102', '冠福股份', '2006-12-29', 'C 制造业',  2633836290, 1991531787, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002103', '广博股份', '2007-01-10', 'C 制造业',  549212944, 336671929, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002104', '恒宝股份', '2007-01-10', 'C 制造业',  712028800, 602332953, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002105', '信隆健康', '2007-01-12', 'C 制造业',  368500000, 368500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002106', '莱宝高科', '2007-01-12', 'C 制造业',  705816160, 703861902, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002107', '沃华医药', '2007-01-24', 'C 制造业',  360756000, 349228003, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002108', '沧州明珠', '2007-01-24', 'C 制造业',  1090710923, 1090710923, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002109', '兴化股份', '2007-01-26', 'C 制造业',  701963193, 210084207, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002110', '三钢闽光', '2007-01-26', 'C 制造业',  1373614962, 990619800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002111', '威海广泰', '2007-01-26', 'C 制造业',  381827504, 284700177, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002112', '三变科技', '2007-02-08', 'C 制造业',  201600000, 183802561, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002113', '天润数娱', '2007-02-08', 'I 信息技术',  901584077, 473487292, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002114', '罗平锌电', '2007-02-15', 'C 制造业',  323395267, 323377492, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002115', '三维通信', '2007-02-15', 'C 制造业',  553925798, 345252485, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002116', '中国海诚', '2007-02-15', 'M 科研服务',  417628938, 415452377, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002117', '东港股份', '2007-03-02', 'C 制造业',  363777614, 363660765, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002118', '紫鑫药业', '2007-03-02', 'C 制造业',  1280759826, 1025350768, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002119', '康强电子', '2007-03-02', 'C 制造业',  206200000, 201925000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002120', '韵达股份', '2007-03-06', 'G 运输仓储',  1217253678, 138875561, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002121', '科陆电子', '2007-03-06', 'C 制造业',  1408163573, 735085648, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002122', '天马股份', '2007-03-28', 'C 制造业',  1188000000, 1184250650, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002123', '梦网集团', '2007-03-28', 'I 信息技术',  861595025, 594353396, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002124', '天邦股份', '2007-04-03', 'C 制造业',  773085399, 526997582, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002125', '湘潭电化', '2007-04-03', 'C 制造业',  345599985, 258950385, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002126', '银轮股份', '2007-04-18', 'C 制造业',  801081664, 620353029, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002127', '南极电商', '2007-04-18', 'L 商务服务',  1636580269, 967508756, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002128', '露天煤业', '2007-04-18', 'B 采矿业',  1634378473, 1634374311, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002129', '中环股份', '2007-04-20', 'C 制造业',  2644236466, 2644236466, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002130', '沃尔核材', '2007-04-20', 'C 制造业',  1262319062, 941643919, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002131', '利欧股份', '2007-04-27', 'I 信息技术',  5587863872, 3385006659, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002132', '恒星科技', '2007-04-27', 'C 制造业',  1256564426, 1041472443, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002133', '广宇集团', '2007-04-27', 'K 房地产',  774144175, 634957144, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002134', '*ST普林', '2007-05-16', 'C 制造业',  245849768, 245849768, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002135', '东南网架', '2007-05-30', 'E 建筑业',  1034402200, 672708782, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002136', '安 纳 达', '2007-05-30', 'C 制造业',  215020000, 213700560, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002137', '麦达数字', '2007-06-13', 'I 信息技术',  579343790, 274680031, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002138', '顺络电子', '2007-06-13', 'C 制造业',  816615354, 642254190, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002139', '拓邦股份', '2007-06-29', 'C 制造业',  679860478, 512742737, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002140', '东华科技', '2007-07-12', 'E 建筑业',  446034534, 439619777, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002141', '贤丰控股', '2007-07-20', 'C 制造业',  1134656519, 636608000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002142', '宁波银行', '2007-07-19', 'J 金融业',  5069732305, 4491075216, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002143', '印纪传媒', '2007-07-20', 'L 商务服务',  1769834184, 974123891, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002144', '宏达高科', '2007-08-03', 'C 制造业',  176762528, 137233865, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002145', '中核钛白', '2007-08-03', 'C 制造业',  1591821576, 1088032649, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002146', '荣盛发展', '2007-08-08', 'K 房地产',  4348163851, 3893557053, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002147', '新光圆成', '2007-08-08', 'K 房地产',  1828076415, 536984343, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002148', '北纬科技', '2007-08-10', 'I 信息技术',  567351127, 443079896, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002149', '西部材料', '2007-08-10', 'C 制造业',  425414274, 425384274, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002150', '通润装备', '2007-08-10', 'C 制造业',  274243887, 273462637, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002151', '北斗星通', '2007-08-13', 'C 制造业',  513240215, 254440139, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002152', '广电运通', '2007-08-13', 'C 制造业',  2428885725, 1974811520, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002153', '石基信息', '2007-08-13', 'I 信息技术',  1066788753, 484456043, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002154', '报 喜 鸟', '2007-08-16', 'C 制造业',  1263285008, 1075223376, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002155', '湖南黄金', '2007-08-16', 'B 采矿业',  1202039474, 1066331619, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002156', '通富微电', '2007-08-16', 'C 制造业',  1153704572, 972429849, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002157', '正邦科技', '2007-08-17', 'C 制造业',  2333682773, 2139216432, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002158', '汉钟精机', '2007-08-17', 'C 制造业',  530381122, 529181949, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002159', '三特索道', '2007-08-17', 'N 公共环保',  138666666, 138549311, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002160', '常铝股份', '2007-08-21', 'C 制造业',  724269941, 469277127, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002161', '远 望 谷', '2007-08-21', 'C 制造业',  739757400, 698586963, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002162', '悦心健康', '2007-08-23', 'C 制造业',  855550000, 851994872, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002163', '中航三鑫', '2007-08-23', 'E 建筑业',  803550000, 803416033, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002164', '宁波东力', '2007-08-23', 'C 制造业',  699347282, 419693107, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002165', '红 宝 丽', '2007-09-13', 'C 制造业',  602058110, 527155147, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002166', '莱茵生物', '2007-09-13', 'C 制造业',  437281362, 348970346, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002167', '东方锆业', '2007-09-13', 'C 制造业',  620946000, 488505582, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002168', '深圳惠程', '2007-09-19', 'C 制造业',  820589768, 765979768, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002169', '智光电气', '2007-09-19', 'C 制造业',  787791994, 659701494, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002170', '芭田股份', '2007-09-19', 'C 制造业',  890047497, 654630266, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002171', '楚江新材', '2007-09-21', 'C 制造业',  1069208056, 1027507229, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002172', '澳洋科技', '2007-09-21', 'C 制造业',  735344462, 572655919, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002173', '创新医疗', '2007-09-25', 'Q 卫生',  455979402, 202684375, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002174', '游族网络', '2007-09-25', 'I 信息技术',  888467873, 618765770, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002175', '东方网络', '2007-10-12', 'I 信息技术',  753778212, 530243316, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002176', '江特电机', '2007-10-12', 'C 制造业',  1469182112, 1380924438, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002177', '御银股份', '2007-11-01', 'C 制造业',  761191294, 761191294, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002178', '延华智能', '2007-11-01', 'M 科研服务',  716038334, 658030067, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002179', '中航光电', '2007-11-01', 'C 制造业',  790977309, 782470734, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002180', '纳思达', '2007-11-13', 'C 制造业',  1063587938, 685775292, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002181', '粤 传 媒', '2007-11-16', 'L 商务服务',  1161058174, 1134327254, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002182', '云海金属', '2007-11-13', 'C 制造业',  646422538, 449888994, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002183', '怡 亚 通', '2007-11-13', 'L 商务服务',  2122697819, 2120384182, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002184', '海得控制', '2007-11-16', 'C 制造业',  242778049, 135867230, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002185', '华天科技', '2007-11-20', 'C 制造业',  2131112944, 2130438916, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002186', '全 聚 德', '2007-11-20', 'H 住宿餐饮',  308463955, 306324932, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002187', '广百股份', '2007-11-22', 'F 批发零售',  342422568, 342422568, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002188', 'ST巴士', '2007-11-22', 'L 商务服务',  295627524, 183758475, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002189', '利达光电', '2007-12-03', 'C 制造业',  199240000, 195849440, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002190', '成飞集成', '2007-12-03', 'C 制造业',  358729343, 345188332, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002191', '劲嘉股份', '2007-12-05', 'C 制造业',  1494834382, 1302004013, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002192', '融捷股份', '2007-12-05', 'C 制造业',  259655203, 190491744, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002193', '如意集团', '2007-12-07', 'C 制造业',  261715550, 231164323, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002194', '武汉凡谷', '2007-12-07', 'C 制造业',  564669722, 530363039, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002195', '二三四五', '2007-12-12', 'I 信息技术',  3415666248, 3253824375, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002196', '方正电机', '2007-12-12', 'C 制造业',  450899624, 290467694, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002197', '证通电子', '2007-12-18', 'C 制造业',  515156948, 434464258, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002198', '嘉应制药', '2007-12-18', 'C 制造业',  507509848, 465323662, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002199', '东晶电子', '2007-12-21', 'C 制造业',  243442363, 225090731, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002200', '云投生态', '2007-12-21', 'A 农林牧渔',  184132890, 119668444, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002201', '九鼎新材', '2007-12-26', 'C 制造业',  332467470, 274281998, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002202', '金风科技', '2007-12-26', 'C 制造业',  2906142460, 2804771298, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002203', '海亮股份', '2008-01-16', 'C 制造业',  1695598113, 1503568503, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002204', '大连重工', '2008-01-16', 'C 制造业',  1931370032, 1931370032, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002205', '国统股份', '2008-01-23', 'C 制造业',  116152018, 116152018, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002206', '海 利 得', '2008-01-23', 'C 制造业',  1223028645, 913503796, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002207', '*ST准油', '2008-01-28', 'B 采矿业',  239177378, 237421932, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002208', '合肥城建', '2008-01-28', 'K 房地产',  320100000, 319272748, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002209', '达 意 隆', '2008-01-30', 'C 制造业',  195244050, 192128500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002210', '飞马国际', '2008-01-30', 'L 商务服务',  1652880386, 1295865466, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002211', '宏达新材', '2008-02-01', 'C 制造业',  432475779, 432038279, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002212', '南洋股份', '2008-02-01', 'C 制造业',  1146902165, 485854954, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002213', '特 尔 佳', '2008-02-01', 'C 制造业',  206000000, 196910199, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002214', '大立科技', '2008-02-18', 'C 制造业',  458666666, 354589813, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002215', '诺 普 信', '2008-02-18', 'C 制造业',  914076384, 725324948, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002216', '三全食品', '2008-02-20', 'C 制造业',  812652098, 572162400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002217', '合力泰', '2008-02-20', 'C 制造业',  3128310676, 2023059446, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002218', '拓日新能', '2008-02-28', 'C 制造业',  1236342104, 1215716504, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002219', '恒康医疗', '2008-03-06', 'C 制造业',  1865236430, 1514774975, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002220', '天宝食品', '2008-02-28', 'C 制造业',  547485824, 389476129, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002221', '东华能源', '2008-03-06', 'F 批发零售',  1649782824, 1503821619, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002222', '福晶科技', '2008-03-19', 'C 制造业',  427500000, 422924999, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002223', '鱼跃医疗', '2008-04-18', 'C 制造业',  1002476929, 855106299, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002224', '三 力 士', '2008-04-25', 'C 制造业',  658065698, 470310443, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002225', '濮耐股份', '2008-04-25', 'C 制造业',  890324298, 650038567, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002226', '江南化工', '2008-05-06', 'C 制造业',  1248981690, 911208869, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002227', '奥 特 迅', '2008-05-06', 'C 制造业',  220597400, 219902538, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002228', '合兴包装', '2008-05-08', 'C 制造业',  1169516948, 1038898120, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002229', '鸿博股份', '2008-05-08', 'C 制造业',  502752213, 415399423, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002230', '科大讯飞', '2008-05-12', 'I 信息技术',  1388693628, 1201317877, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002231', '奥维通信', '2008-05-12', 'C 制造业',  356800000, 305879200, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002232', '启明信息', '2008-05-09', 'I 信息技术',  408548455, 403114705, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002233', '塔牌集团', '2008-05-16', 'C 制造业',  1192275016, 803616244, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002234', '民和股份', '2008-05-16', 'A 农林牧渔',  302046632, 191154259, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002235', '安妮股份', '2008-05-16', 'C 制造业',  415976540, 333550419, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002236', '大华股份', '2008-05-20', 'C 制造业',  2898756130, 1835429357, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002237', '恒邦股份', '2008-05-20', 'C 制造业',  910400000, 851675000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002238', '天威视讯', '2008-05-26', 'I 信息技术',  617353200, 617353200, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002239', '奥特佳', '2008-05-22', 'C 制造业',  3131359417, 1905613413, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002240', '威华股份', '2008-05-23', 'C 制造业',  535343457, 490636500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002241', '歌尔股份', '2008-05-22', 'C 制造业',  3245103948, 2724437003, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002242', '九阳股份', '2008-05-28', 'C 制造业',  767511000, 766731000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002243', '通产丽星', '2008-05-28', 'C 制造业',  364948956, 364948956, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002244', '滨江集团', '2008-05-29', 'K 房地产',  3111443890, 2702903890, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002245', '澳洋顺昌', '2008-06-05', 'G 运输仓储',  987099171, 914404822, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002246', '北化股份', '2008-06-05', 'C 制造业',  549034794, 413686536, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002247', '帝龙文化', '2008-06-12', 'C 制造业',  851196049, 537554351, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002248', '*ST东数', '2008-06-12', 'C 制造业',  307495600, 307495600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002249', '大洋电机', '2008-06-19', 'C 制造业',  2370707124, 1365055261, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002250', '联化科技', '2008-06-19', 'C 制造业',  925902056, 879468851, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002251', '步 步 高', '2008-06-19', 'F 批发零售',  863903951, 803357632, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002252', '上海莱士', '2008-06-23', 'C 制造业',  4974622099, 4972589099, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002253', '川大智胜', '2008-06-23', 'I 信息技术',  225626095, 207372219, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002254', '泰和新材', '2008-06-25', 'C 制造业',  610833600, 610673703, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002255', '海陆重工', '2008-06-25', 'C 制造业',  718144151, 488936879, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002256', '兆新股份', '2008-06-25', 'C 制造业',  1882411872, 1249119241, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002258', '利尔化学', '2008-07-08', 'C 制造业',  524373030, 523678743, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002259', '升达林业', '2008-07-16', 'D 水电煤气',  752328267, 723675565, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002260', '德奥通航', '2008-07-16', 'C 制造业',  265200000, 265200000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002261', '拓维信息', '2008-07-23', 'I 信息技术',  1110641516, 972069329, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002262', '恩华药业', '2008-07-23', 'C 制造业',  1009147011, 884408519, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002263', '大 东 南', '2008-07-28', 'C 制造业',  1878360100, 1878338500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002264', '新 华 都', '2008-07-31', 'F 批发零售',  684563880, 577144123, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002265', '西仪股份', '2008-08-06', 'C 制造业',  318566172, 303172678, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002266', '浙富控股', '2008-08-06', 'C 制造业',  1978719849, 1625383657, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002267', '陕天然气', '2008-08-13', 'D 水电煤气',  1112075445, 1112075445, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002268', '卫 士 通', '2008-08-11', 'I 信息技术',  838336028, 809902075, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002269', '美邦服饰', '2008-08-28', 'C 制造业',  2512500000, 2343748000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002270', '华明装备', '2008-09-05', 'C 制造业',  506159420, 287622732, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002271', '东方雨虹', '2008-09-10', 'C 制造业',  881860601, 571887851, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002272', '川润股份', '2008-09-19', 'C 制造业',  419700000, 320811488, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002273', '水晶光电', '2008-09-19', 'C 制造业',  664098124, 616511438, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002274', '华昌化工', '2008-09-25', 'C 制造业',  634909764, 490332753, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002275', '桂林三金', '2009-07-10', 'C 制造业',  590200000, 533391150, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002276', '万马股份', '2009-07-10', 'C 制造业',  1035489098, 937693957, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002277', '友阿股份', '2009-07-17', 'F 批发零售',  1416605200, 1416605200, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002278', '神开股份', '2009-08-11', 'C 制造业',  363909648, 343984823, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002279', '久其软件', '2009-08-11', 'I 信息技术',  710735143, 574578445, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002280', '联络互动', '2009-08-21', 'I 信息技术',  2177149675, 1711871747, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002281', '光迅科技', '2009-08-21', 'C 制造业',  646300752, 622077215, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002282', '博深工具', '2009-08-21', 'C 制造业',  437738511, 193369177, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002283', '天润曲轴', '2009-08-21', 'C 制造业',  1127533978, 1023559308, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002284', '亚太股份', '2009-08-28', 'C 制造业',  737556000, 685971642, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002285', '世联行', '2009-08-28', 'K 房地产',  2043978097, 1702081108, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002286', '保龄宝', '2009-08-28', 'C 制造业',  369256000, 328636021, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002287', '奇正藏药', '2009-08-28', 'C 制造业',  406000000, 405995525, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002288', '超华科技', '2009-09-03', 'C 制造业',  931643744, 660352932, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002289', '宇顺电子', '2009-09-03', 'C 制造业',  280253733, 259543889, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002290', '中科新材', '2009-09-03', 'C 制造业',  242712330, 210319125, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002291', '星期六', '2009-09-03', 'C 制造业',  398921895, 362785872, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002292', '奥飞娱乐', '2009-09-10', 'C 制造业',  1357159525, 763288956, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002293', '罗莱生活', '2009-09-10', 'C 制造业',  744919147, 699312670, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002294', '信立泰', '2009-09-10', 'C 制造业',  1046016000, 1045994500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002295', '精艺股份', '2009-09-29', 'C 制造业',  251432000, 194515769, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002296', '辉煌科技', '2009-09-29', 'C 制造业',  376656420, 322817845, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002297', '博云新材', '2009-09-29', 'C 制造业',  471315045, 397589512, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002298', '中电鑫龙', '2009-09-29', 'I 信息技术',  703960660, 468093272, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002299', '圣农发展', '2009-10-21', 'A 农林牧渔',  1239480517, 900865200, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002300', '太阳电缆', '2009-10-21', 'C 制造业',  542700000, 541945724, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002301', '齐心集团', '2009-10-21', 'C 制造业',  427867388, 426969604, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002302', '西部建设', '2009-11-03', 'C 制造业',  1262354304, 1032234050, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002303', '美盈森', '2009-11-03', 'C 制造业',  1542323685, 1541756115, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002304', '洋河股份', '2009-11-06', 'C 制造业',  1506988000, 1244051816, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002305', '南国置业', '2009-11-06', 'K 房地产',  1734215770, 1623302332, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002306', '*ST云网', '2009-11-11', 'H 住宿餐饮',  800000000, 793933507, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002307', '北新路桥', '2009-11-11', 'E 建筑业',  561379023, 557319263, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002308', '威创股份', '2009-11-27', 'C 制造业',  913594055, 835337862, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002309', '中利集团', '2009-11-27', 'C 制造业',  873959068, 469180514, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002310', '东方园林', '2009-11-27', 'E 建筑业',  2682778484, 1623275778, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002311', '海大集团', '2009-11-27', 'C 制造业',  1579545054, 1528579660, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002312', '*ST三泰', '2009-12-03', 'C 制造业',  1404890733, 1088116429, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002313', '日海通讯', '2009-12-03', 'C 制造业',  312000000, 312000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002314', '南山控股', '2009-12-03', 'K 房地产',  1877530273, 737733405, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002315', '焦点科技', '2009-12-09', 'I 信息技术',  235000000, 127600355, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002316', '键桥通讯', '2009-12-09', 'I 信息技术',  393120000, 314932725, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002317', '众生药业', '2009-12-11', 'C 制造业',  814461076, 642309033, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002318', '久立特材', '2009-12-11', 'C 制造业',  841505932, 814165184, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002319', '乐通股份', '2009-12-11', 'C 制造业',  200000000, 199952581, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002320', '海峡股份', '2009-12-16', 'G 运输仓储',  508018960, 429510654, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002321', '华英农业', '2009-12-16', 'A 农林牧渔',  534291100, 423688739, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002322', '理工环科', '2009-12-18', 'C 制造业',  398034348, 286207446, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002323', '雅百特', '2009-12-18', 'E 建筑业',  745729656, 316024900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002324', '普利特', '2009-12-18', 'C 制造业',  270849978, 156499441, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002325', '洪涛股份', '2009-12-22', 'E 建筑业',  1250308390, 904784821, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002326', '永太科技', '2009-12-22', 'C 制造业',  822376427, 525449825, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002327', '富安娜', '2009-12-30', 'C 制造业',  871157604, 498908666, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002328', '新朋股份', '2009-12-30', 'C 制造业',  448100000, 325233210, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002329', '皇氏集团', '2010-01-06', 'C 制造业',  837640035, 514747566, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002330', '得利斯', '2010-01-06', 'C 制造业',  502000000, 501943900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002331', '皖通科技', '2010-01-06', 'I 信息技术',  382202512, 303253261, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002332', '仙琚制药', '2010-01-12', 'C 制造业',  916212166, 720691871, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002333', '罗普斯金', '2010-01-12', 'C 制造业',  502603600, 484969720, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002334', '英威腾', '2010-01-13', 'C 制造业',  754552710, 568994879, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002335', '科华恒盛', '2010-01-13', 'C 制造业',  279695800, 224625019, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002336', '人人乐', '2010-01-13', 'F 批发零售',  400000000, 339250000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002337', '赛象科技', '2010-01-15', 'C 制造业',  588615750, 587592939, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002338', '奥普光电', '2010-01-15', 'C 制造业',  240000000, 239972050, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002339', '积成电子', '2010-01-22', 'C 制造业',  393696000, 315548675, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002340', '格林美', '2010-01-22', 'C 制造业',  3815910339, 3113577298, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002341', '新纶科技', '2010-01-22', 'C 制造业',  1006432984, 616123490, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002342', '巨力索具', '2010-01-26', 'C 制造业',  960000000, 881135625, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002343', '慈文传媒', '2010-01-26', 'R 文化传播',  339249776, 232939020, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002344', '海宁皮城', '2010-01-26', 'L 商务服务',  1282745046, 1270750855, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002345', '潮宏基', '2010-01-28', 'C 制造业',  905412707, 831358008, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002346', '柘中股份', '2010-01-28', 'C 制造业',  441575416, 392283517, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002347', '泰尔股份', '2010-01-28', 'C 制造业',  449350562, 318988160, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002348', '高乐股份', '2010-02-03', 'C 制造业',  947200000, 738368889, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002349', '精华制药', '2010-02-03', 'C 制造业',  840589662, 763401572, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002350', '北京科锐', '2010-02-03', 'C 制造业',  387005000, 374819574, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002351', '漫步者', '2010-02-05', 'C 制造业',  595370000, 299245850, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002352', '顺丰控股', '2010-02-05', 'G 运输仓储',  4413572185, 891795933, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002353', '杰瑞股份', '2010-02-05', 'C 制造业',  957853992, 673010120, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002354', '天神娱乐', '2010-02-09', 'I 信息技术',  936846900, 519000041, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002355', '兴民智通', '2010-02-09', 'C 制造业',  513700050, 390158556, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002356', '赫美集团', '2010-02-09', 'F 批发零售',  310474440, 273608850, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002357', '富临运业', '2010-02-10', 'G 运输仓储',  313489036, 313236008, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002358', '森源电气', '2010-02-10', 'C 制造业',  929756977, 910425280, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002359', '北讯集团', '2010-02-10', 'I 信息技术',  1087191760, 708067589, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002360', '同德化工', '2010-03-03', 'C 制造业',  391512600, 296579467, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002361', '神剑股份', '2010-03-03', 'C 制造业',  862595596, 605794173, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002362', '汉王科技', '2010-03-03', 'C 制造业',  217099792, 177721432, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002363', '隆基机械', '2010-03-05', 'C 制造业',  416100301, 385531565, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002364', '中恒电气', '2010-03-05', 'C 制造业',  563564960, 510947483, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002365', '永安药业', '2010-03-05', 'C 制造业',  196455000, 158613772, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002366', '台海核电', '2010-03-12', 'C 制造业',  867057350, 489070414, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002367', '康力电梯', '2010-03-12', 'C 制造业',  797652687, 520960158, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002368', '太极股份', '2010-03-12', 'I 信息技术',  415229246, 400461492, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002369', '卓翼科技', '2010-03-16', 'C 制造业',  581039204, 419628410, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002370', '亚太药业', '2010-03-16', 'C 制造业',  536494456, 407235451, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002371', '北方华创', '2010-03-16', 'C 制造业',  458004372, 359099299, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002372', '伟星新材', '2010-03-18', 'C 制造业',  1008405762, 895553431, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002373', '千方科技', '2010-03-18', 'I 信息技术',  1104376432, 839401921, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002374', '丽鹏股份', '2010-03-18', 'E 建筑业',  877427468, 733205545, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002375', '亚厦股份', '2010-03-23', 'E 建筑业',  1339996498, 1251728955, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002376', '新北洋', '2010-03-23', 'C 制造业',  631490090, 573831909, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002377', '国创高新', '2010-03-23', 'K 房地产',  916325201, 431618076, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002378', '章源钨业', '2010-03-31', 'C 制造业',  924167436, 923217900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002379', '宏创控股', '2010-03-31', 'C 制造业',  926400000, 925602262, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002380', '科远股份', '2010-03-31', 'C 制造业',  239991649, 143353629, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002381', '双箭股份', '2010-04-02', 'C 制造业',  428500000, 232385930, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002382', '蓝帆医疗', '2010-04-02', 'C 制造业',  494355000, 486325477, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002383', '合众思壮', '2010-04-02', 'C 制造业',  742838100, 472470512, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002384', '东山精密', '2010-04-09', 'C 制造业',  1071048318, 551662270, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002385', '大北农', '2010-04-09', 'C 制造业',  4242993865, 2284437926, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002386', '天原集团', '2010-04-09', 'C 制造业',  671679806, 671601662, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002387', '黑牛食品', '2010-04-13', 'C 制造业',  1367663046, 328823744, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002388', '新亚制程', '2010-04-13', 'C 制造业',  503766600, 399596250, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002389', '南洋科技', '2010-04-13', 'C 制造业',  947169085, 537006242, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002390', '信邦制药', '2010-04-16', 'C 制造业',  1704895788, 1168461099, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002391', '长青股份', '2010-04-16', 'C 制造业',  359486180, 237714604, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002392', '北京利尔', '2010-04-23', 'C 制造业',  1190490839, 731541197, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002393', '力生制药', '2010-04-23', 'C 制造业',  182454992, 181798227, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002394', '联发股份', '2010-04-23', 'C 制造业',  323700000, 323700000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002395', '双象股份', '2010-04-29', 'C 制造业',  178806000, 178806000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002396', '星网锐捷', '2010-06-23', 'C 制造业',  583280278, 534102730, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002397', '梦洁股份', '2010-04-29', 'C 制造业',  763264760, 428033780, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002398', '建研集团', '2010-05-06', 'M 科研服务',  346119096, 261798715, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002399', '海普瑞', '2010-05-06', 'C 制造业',  1247201704, 1247201704, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002400', '省广集团', '2010-05-06', 'L 商务服务',  1743337128, 1649366379, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002401', '中远海科', '2010-05-06', 'I 信息技术',  303240000, 300462884, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002402', '和而泰', '2010-05-11', 'C 制造业',  844985080, 718510831, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002403', '爱仕达', '2010-05-11', 'C 制造业',  350320801, 293030375, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002404', '嘉欣丝绸', '2010-05-11', 'C 制造业',  577673641, 402042110, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002405', '四维图新', '2010-05-18', 'I 信息技术',  1282615013, 1033349088, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002406', '远东传动', '2010-05-18', 'C 制造业',  561000000, 415701778, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002407', '多氟多', '2010-05-18', 'C 制造业',  646430387, 538729496, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002408', '齐翔腾达', '2010-05-18', 'C 制造业',  1775209253, 1676000238, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002409', '雅克科技', '2010-05-25', 'C 制造业',  343827605, 183144946, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002410', '广联达', '2010-05-25', 'I 信息技术',  1119361939, 885765836, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002411', '必康股份', '2010-05-25', 'C 制造业',  1532283909, 311642142, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002412', '汉森制药', '2010-05-25', 'C 制造业',  296000000, 287825000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002413', '雷科防务', '2010-05-28', 'C 制造业',  1102546134, 771762977, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002414', '高德红外', '2010-07-16', 'C 制造业',  624256031, 476098944, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002415', '海康威视', '2010-05-28', 'C 制造业',  9227270473, 7907065367, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002416', '爱施德', '2010-05-28', 'F 批发零售',  1032734839, 975385101, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002417', '深南股份', '2010-06-01', 'C 制造业',  270000000, 224220380, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002418', '康盛股份', '2010-06-01', 'C 制造业',  1136400000, 553608276, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002419', '天虹股份', '2010-06-01', 'F 批发零售',  800200000, 799930656, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002420', '毅昌股份', '2010-06-01', 'C 制造业',  401000000, 391709942, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002421', '达实智能', '2010-06-03', 'I 信息技术',  1923597501, 1496240990, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002422', '科伦药业', '2010-06-03', 'C 制造业',  1440000000, 1028401800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002423', '中原特钢', '2010-06-03', 'C 制造业',  502986577, 502986352, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002424', '贵州百灵', '2010-06-03', 'C 制造业',  1411200000, 728869113, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002425', '凯撒文化', '2010-06-08', 'I 信息技术',  813744432, 761272695, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002426', '胜利精密', '2010-06-08', 'C 制造业',  3441517719, 2088466708, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002427', 'ST尤夫', '2010-06-08', 'C 制造业',  398154658, 384655724, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002428', '云南锗业', '2010-06-08', 'C 制造业',  653120000, 644149118, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002429', '兆驰股份', '2010-06-10', 'C 制造业',  4526940607, 3972934138, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002430', '杭氧股份', '2010-06-10', 'C 制造业',  964603777, 830263370, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002431', '棕榈股份', '2010-06-10', 'E 建筑业',  1486985450, 1215163234, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002432', '九安医疗', '2010-06-10', 'C 制造业',  432805921, 432805921, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002433', '太安堂', '2010-06-18', 'C 制造业',  768955000, 691510000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002434', '万里扬', '2010-06-18', 'C 制造业',  1350000000, 1019061259, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002435', '长江润发', '2010-06-18', 'C 制造业',  490776795, 183730011, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002436', '兴森科技', '2010-06-18', 'C 制造业',  1487907504, 1198975367, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002437', '誉衡药业', '2010-06-23', 'C 制造业',  2198122950, 2170056323, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002438', '江苏神通', '2010-06-23', 'C 制造业',  485878156, 356936765, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002439', '启明星辰', '2010-06-23', 'I 信息技术',  896692587, 585455619, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002440', '闰土股份', '2010-07-06', 'C 制造业',  767000000, 615845855, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002441', '众业达', '2010-07-06', 'F 批发零售',  544755909, 391638127, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002442', '龙星化工', '2010-07-06', 'C 制造业',  480000000, 379291798, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002443', '金洲管道', '2010-07-06', 'C 制造业',  520535520, 507541865, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002444', '巨星科技', '2010-07-13', 'C 制造业',  1075247700, 1011855624, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002445', '中南文化', '2010-07-13', 'R 文化传播',  829780286, 746331705, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002446', '盛路通信', '2010-07-13', 'C 制造业',  762110260, 422332101, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002447', '晨鑫科技', '2010-07-13', 'I 信息技术',  1427193000, 1154320175, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002448', '中原内配', '2010-07-16', 'C 制造业',  606822305, 461839495, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002449', '国星光电', '2010-07-16', 'C 制造业',  475751669, 421561581, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002450', '康得新', '2010-07-16', 'C 制造业',  3540900282, 2892517006, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002451', '摩恩电气', '2010-07-20', 'C 制造业',  439200000, 416470425, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002452', '长高集团', '2010-07-20', 'C 制造业',  529400000, 370025338, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002453', '天马精化', '2010-07-20', 'C 制造业',  571300000, 549194096, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002454', '松芝股份', '2010-07-20', 'C 制造业',  421466400, 411159501, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002455', '百川股份', '2010-08-03', 'C 制造业',  516977142, 315885000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002456', '欧菲科技', '2010-08-03', 'C 制造业',  2714445975, 2658055090, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002457', '青龙管业', '2010-08-03', 'C 制造业',  334992000, 277211209, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002458', '益生股份', '2010-08-10', 'A 农林牧渔',  337378701, 178691022, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002459', '天业通联', '2010-08-10', 'C 制造业',  388689351, 386985330, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002460', '赣锋锂业', '2010-08-10', 'C 制造业',  741139361, 524285248, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002461', '珠江啤酒', '2010-08-18', 'C 制造业',  1106664240, 680158768, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002462', '嘉事堂', '2010-08-18', 'F 批发零售',  250526315, 249317836, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002463', '沪电股份', '2010-08-18', 'C 制造业',  1674159763, 1673642533, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002464', '众应互联', '2010-08-31', 'I 信息技术',  232943924, 232925699, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002465', '海格通信', '2010-08-31', 'C 制造业',  2307395829, 1890210632, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002466', '天齐锂业', '2010-08-31', 'C 制造业',  1142052851, 1134310749, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002467', '二六三', '2010-09-08', 'I 信息技术',  787380220, 628182275, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002468', '申通快递', '2010-09-08', 'G 运输仓储',  1530802166, 331776000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002469', '三维工程', '2010-09-08', 'M 科研服务',  503262849, 463423224, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002470', '金正大', '2010-09-08', 'C 制造业',  3157838096, 2725778021, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002471', '中超控股', '2010-09-10', 'C 制造业',  1268000000, 1256953142, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002472', '双环传动', '2010-09-10', 'C 制造业',  683674000, 545128185, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002473', '*ST圣莱', '2010-09-10', 'C 制造业',  160000000, 159991950, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002474', '榕基软件', '2010-09-15', 'I 信息技术',  622200000, 469143270, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002475', '立讯精密', '2010-09-15', 'C 制造业',  3172962197, 3161917086, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002476', '宝莫股份', '2010-09-15', 'C 制造业',  612000000, 582443240, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002477', '雏鹰农牧', '2010-09-15', 'A 农林牧渔',  3135159630, 1989564020, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002478', '常宝股份', '2010-09-21', 'C 制造业',  987393559, 614277315, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002479', '富春环保', '2010-09-21', 'D 水电煤气',  796350000, 730470749, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002480', '新筑股份', '2010-09-21', 'C 制造业',  653576270, 640326050, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002481', '双塔食品', '2010-09-21', 'C 制造业',  1263390000, 1127127650, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002482', '广田集团', '2010-09-29', 'E 建筑业',  1537279657, 1313001689, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002483', '润邦股份', '2010-09-29', 'C 制造业',  672447760, 574782386, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002484', '江海股份', '2010-09-29', 'C 制造业',  815155441, 762432728, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002485', '希努尔', '2010-10-15', 'C 制造业',  320000000, 319995050, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002486', '嘉麟杰', '2010-10-15', 'C 制造业',  832000000, 819315000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002487', '大金重工', '2010-10-15', 'C 制造业',  552200000, 532453708, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002488', '金固股份', '2010-10-21', 'C 制造业',  674135774, 384998249, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002489', '浙江永强', '2010-10-21', 'C 制造业',  2175736503, 1869275099, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002490', '*ST墨龙', '2010-10-21', 'C 制造业',  541722000, 347674900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002491', '通鼎互联', '2010-10-21', 'C 制造业',  1261553144, 1118617810, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002492', '恒基达鑫', '2010-11-02', 'G 运输仓储',  405000000, 353131742, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002493', '荣盛石化', '2010-11-02', 'C 制造业',  3816000000, 3417215000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002494', '华斯股份', '2010-11-02', 'C 制造业',  385560818, 295020037, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002495', '佳隆股份', '2010-11-02', 'C 制造业',  935625600, 682052453, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002496', '辉丰股份', '2010-11-09', 'C 制造业',  1507478531, 1023464515, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002497', '雅化集团', '2010-11-09', 'C 制造业',  960000000, 824928666, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002498', '汉缆股份', '2010-11-09', 'C 制造业',  3326796000, 3325885763, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002499', '科林环保', '2010-11-09', 'D 水电煤气',  189000000, 163229329, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002500', '山西证券', '2010-11-15', 'J 金融业',  2828725153, 2828725153, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002501', '利源精制', '2010-11-17', 'C 制造业',  1214835580, 1001303734, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002502', '骅威文化', '2010-11-17', 'R 文化传播',  859828874, 541082560, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002503', '搜于特', '2010-11-17', 'C 制造业',  3124191896, 1954199984, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002504', '*ST弘高', '2010-11-18', 'E 建筑业',  1025800523, 414548025, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002505', '大康农业', '2010-11-18', 'A 农林牧渔',  5485372200, 5484619800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002506', '协鑫集成', '2010-11-18', 'C 制造业',  5046400000, 2523520000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002507', '涪陵榨菜', '2010-11-23', 'C 制造业',  789357241, 771672269, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002508', '老板电器', '2010-11-23', 'C 制造业',  949032825, 934535156, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002509', '天广中茂', '2010-11-23', 'C 制造业',  2492492696, 1947946948, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002510', '天汽模', '2010-11-25', 'C 制造业',  896241132, 773621497, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002511', '中顺洁柔', '2010-11-25', 'C 制造业',  757464540, 732665741, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002512', '达华智能', '2010-12-03', 'C 制造业',  1095386132, 695503007, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002513', '蓝丰生化', '2010-12-03', 'C 制造业',  340086278, 254413270, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002514', '宝馨科技', '2010-12-03', 'C 制造业',  554034264, 388005184, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002515', '金字火腿', '2010-12-03', 'C 制造业',  978313280, 954545067, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002516', '旷达科技', '2010-12-07', 'C 制造业',  1502392852, 928496681, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002517', '恺英网络', '2010-12-07', 'I 信息技术',  1435011756, 582978204, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002518', '科士达', '2010-12-07', 'C 制造业',  589078794, 555287234, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002519', '银河电子', '2010-12-07', 'C 制造业',  1141843083, 831547845, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002520', '日发精机', '2010-12-10', 'C 制造业',  554088969, 497368379, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002521', '齐峰新材', '2010-12-10', 'C 制造业',  494685819, 427958198, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002522', '浙江众成', '2010-12-10', 'C 制造业',  905779387, 828982641, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002523', '天桥起重', '2010-12-10', 'C 制造业',  1011886286, 839288298, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002524', '光正集团', '2010-12-17', 'D 水电煤气',  503332800, 501045195, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002526', '山东矿机', '2010-12-17', 'C 制造业',  614893681, 523148397, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002527', '新时达', '2010-12-24', 'C 制造业',  620171214, 393802548, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002528', '英飞拓', '2010-12-24', 'C 制造业',  1046364755, 863694905, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002529', '海源机械', '2010-12-24', 'C 制造业',  260000000, 200000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002530', '金财互联', '2010-12-31', 'I 信息技术',  490741853, 211599672, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002531', '天顺风能', '2010-12-31', 'C 制造业',  1779019047, 1768983563, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002532', '新界泵业', '2010-12-31', 'C 制造业',  515804900, 403453008, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002533', '金杯电工', '2010-12-31', 'C 制造业',  553121280, 513864695, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002534', '杭锅股份', '2011-01-10', 'C 制造业',  739432800, 723127800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002535', '林州重机', '2011-01-11', 'C 制造业',  801683074, 558511474, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002536', '西泵股份', '2011-01-11', 'C 制造业',  333807876, 309533361, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002537', '海联金汇', '2011-01-10', 'C 制造业',  1251350095, 1169047536, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002538', '司尔特', '2011-01-18', 'C 制造业',  718120283, 698604308, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002539', '云图控股', '2011-01-18', 'C 制造业',  1010100000, 478049663, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002540', '亚太科技', '2011-01-18', 'C 制造业',  1270529500, 718982997, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002541', '鸿路钢构', '2011-01-18', 'C 制造业',  349145902, 247492777, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002542', '中化岩土', '2011-01-28', 'E 建筑业',  1811000000, 798453425, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002543', '万和电气', '2011-01-28', 'C 制造业',  440000000, 373277750, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002544', '杰赛科技', '2011-01-28', 'I 信息技术',  572040033, 511539980, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002545', '东方铁塔', '2011-02-11', 'C 制造业',  1291154187, 618449535, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002546', '新联电子', '2011-02-11', 'C 制造业',  834049096, 780117646, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002547', '春兴精工', '2011-02-18', 'C 制造业',  1128057168, 800213418, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002548', '金新农', '2011-02-18', 'C 制造业',  380538204, 311358868, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002549', '凯美特气', '2011-02-18', 'N 公共环保',  623700000, 620234925, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002550', '千红制药', '2011-02-18', 'C 制造业',  1280000000, 903749927, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002551', '尚荣医疗', '2011-02-25', 'C 制造业',  705954330, 407508308, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002552', '宝鼎科技', '2011-02-25', 'C 制造业',  306232338, 200148944, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002553', '南方轴承', '2011-02-25', 'C 制造业',  348000000, 221302201, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002554', '惠博普', '2011-02-25', 'B 采矿业',  1070810000, 716264926, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002555', '三七互娱', '2011-03-02', 'I 信息技术',  2148110844, 1162852720, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002556', '辉隆股份', '2011-03-02', 'F 批发零售',  717600000, 700511429, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002557', '洽洽食品', '2011-03-02', 'C 制造业',  507000000, 507000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002558', '巨人网络', '2011-03-02', 'I 信息技术',  2024379932, 427109360, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002559', '亚威股份', '2011-03-03', 'C 制造业',  373003481, 304583156, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002560', '通达股份', '2011-03-03', 'C 制造业',  429141351, 274658286, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002561', '徐家汇', '2011-03-03', 'F 批发零售',  415763000, 396868501, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002562', '兄弟科技', '2011-03-10', 'C 制造业',  541397984, 310208972, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002563', '森马服饰', '2011-03-11', 'C 制造业',  2689453840, 1838844396, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002564', '天沃科技', '2011-03-10', 'M 科研服务',  735762000, 601846104, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002565', '顺灏股份', '2011-03-18', 'C 制造业',  687468000, 684836963, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002566', '益盛药业', '2011-03-18', 'C 制造业',  330951600, 226320865, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002567', '唐人神', '2011-03-25', 'C 制造业',  836570799, 648589914, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002568', '百润股份', '2011-03-25', 'C 制造业',  712244840, 380272210, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002569', '步森股份', '2011-04-12', 'C 制造业',  140010000, 139774350, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002570', '贝因美', '2011-04-12', 'C 制造业',  1022520000, 1022198536, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002571', '*ST德力', '2011-04-12', 'C 制造业',  391950700, 253197600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002572', '索菲亚', '2011-04-12', 'C 制造业',  923426310, 638095835, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002573', '清新环境', '2011-04-22', 'N 公共环保',  1081272100, 1078674825, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002574', '明牌珠宝', '2011-04-22', 'C 制造业',  528000000, 528000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002575', '群兴玩具', '2011-04-22', 'C 制造业',  588720000, 588720000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002576', '通达动力', '2011-04-28', 'C 制造业',  165100000, 156687593, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002577', '雷柏科技', '2011-04-28', 'C 制造业',  283077400, 281293440, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002578', '闽发铝业', '2011-04-28', 'C 制造业',  988093296, 562927700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002579', '中京电子', '2011-05-06', 'C 制造业',  377564400, 352434996, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002580', '圣阳股份', '2011-05-06', 'C 制造业',  354401307, 298307814, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002581', '未名医药', '2011-05-20', 'C 制造业',  659735586, 400789736, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002582', '好想你', '2011-05-20', 'C 制造业',  515684160, 246588953, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002583', '海能达', '2011-05-27', 'C 制造业',  1815152441, 1053575575, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002584', '西陇科学', '2011-06-02', 'C 制造业',  585216422, 292101602, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002585', '双星新材', '2011-06-02', 'C 制造业',  1156278085, 695565707, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002586', '围海股份', '2011-06-02', 'E 建筑业',  1041976663, 693647912, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002587', '奥拓电子', '2011-06-10', 'C 制造业',  611385834, 391416100, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002588', '史丹利', '2011-06-10', 'C 制造业',  1156884000, 729774542, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002589', '瑞康医药', '2011-06-10', 'F 批发零售',  1504710471, 1084661300, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002590', '万安科技', '2011-06-10', 'C 制造业',  479646926, 428606715, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002591', '恒大高新', '2011-06-21', 'C 制造业',  306616909, 170715786, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002592', '八菱科技', '2011-11-11', 'C 制造业',  283331157, 209492443, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002593', '日上集团', '2011-06-28', 'C 制造业',  701145000, 466016950, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002594', '比亚迪', '2011-06-30', 'C 制造业',  1813142855, 1142213919, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002595', '豪迈科技', '2011-06-28', 'C 制造业',  800000000, 527852734, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002596', '海南瑞泽', '2011-07-07', 'C 制造业',  1074267206, 725896217, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002597', '金禾实业', '2011-07-07', 'C 制造业',  564236186, 559518117, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002598', '山东章鼓', '2011-07-07', 'C 制造业',  312000000, 270769388, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002599', '盛通股份', '2011-07-15', 'C 制造业',  324006118, 190126241, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002600', '领益智造', '2011-07-15', 'C 制造业',  6783910951, 1345611110, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002601', '龙蟒佰利', '2011-07-15', 'C 制造业',  2032095439, 688640597, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002602', '世纪华通', '2011-07-28', 'C 制造业',  1459222653, 798162105, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002603', '以岭药业', '2011-07-28', 'C 制造业',  1205613783, 988485496, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002604', 'ST龙力', '2011-07-28', 'C 制造业',  599561402, 498482514, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002605', '姚记扑克', '2011-08-05', 'C 制造业',  397169187, 267362225, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002606', '大连电瓷', '2011-08-05', 'C 制造业',  407496000, 402755934, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002607', '亚夏汽车', '2011-08-10', 'F 批发零售',  820335960, 705402441, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002608', '江苏国信', '2011-08-10', 'D 水电煤气',  3253145323, 538952097, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002609', '捷顺科技', '2011-08-15', 'I 信息技术',  666942601, 367234337, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002610', '爱康科技', '2011-08-15', 'C 制造业',  4490861600, 4223711369, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002611', '东方精工', '2011-08-30', 'C 制造业',  1149154435, 446225649, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002612', '朗姿股份', '2011-08-30', 'C 制造业',  400000000, 223941550, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002613', '北玻股份', '2011-08-30', 'C 制造业',  937170000, 510514413, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002614', '奥佳华', '2011-09-09', 'C 制造业',  560744000, 302951683, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002615', '哈尔斯', '2011-09-09', 'C 制造业',  410400000, 230304019, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002616', '长青集团', '2011-09-20', 'C 制造业',  742756144, 459407044, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002617', '露笑科技', '2011-09-20', 'C 制造业',  734824767, 697743044, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002618', '丹邦科技', '2011-09-20', 'C 制造业',  547920000, 547920000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002619', '艾格拉斯', '2011-09-29', 'I 信息技术',  1844896231, 848727678, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002620', '瑞和股份', '2011-09-29', 'E 建筑业',  362500000, 303390681, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002621', '三垒股份', '2011-09-29', 'C 制造业',  337500000, 270364037, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002622', '融钰集团', '2011-10-18', 'C 制造业',  840000000, 839977500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002623', '亚玛顿', '2011-10-13', 'C 制造业',  160000000, 159573625, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002624', '完美世界', '2011-10-28', 'I 信息技术',  1314702005, 466350593, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002625', '光启技术', '2011-11-03', 'C 制造业',  1267404625, 251188983, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002626', '金达威', '2011-10-28', 'C 制造业',  616481927, 600126867, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002627', '宜昌交运', '2011-11-03', 'G 运输仓储',  185126223, 132151185, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002628', '成都路桥', '2011-11-03', 'E 建筑业',  737416215, 725351181, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002629', '仁智股份', '2011-11-03', 'B 采矿业',  411948000, 344600433, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002630', '华西能源', '2011-11-11', 'C 制造业',  738000000, 606517821, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002631', '德尔未来', '2011-11-11', 'C 制造业',  650480000, 646696921, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002632', '道明光学', '2011-11-22', 'C 制造业',  626420744, 554399980, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002633', '申科股份', '2011-11-22', 'C 制造业',  150000000, 149151750, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002634', '棒杰股份', '2011-12-05', 'C 制造业',  461002575, 270185678, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002635', '安洁科技', '2011-11-25', 'C 制造业',  752233872, 319643844, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002636', '金安国纪', '2011-11-25', 'C 制造业',  728000000, 246389712, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002637', '赞宇科技', '2011-11-25', 'C 制造业',  422200000, 256888190, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002638', '勤上股份', '2011-11-25', 'C 制造业',  1518685574, 979365882, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002639', '雪人股份', '2011-12-05', 'C 制造业',  674072767, 442690628, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002640', '跨境通', '2011-12-08', 'F 批发零售',  1508378632, 971528826, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002641', '永高股份', '2011-12-08', 'C 制造业',  1123200000, 895924478, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002642', '荣之联', '2011-12-20', 'I 信息技术',  661580313, 515437887, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002643', '万润股份', '2011-12-20', 'C 制造业',  909133215, 876280523, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002644', '佛慈制药', '2011-12-22', 'C 制造业',  510657000, 510657000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002645', '华宏科技', '2011-12-20', 'C 制造业',  209445019, 148627237, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002646', '青青稞酒', '2011-12-22', 'C 制造业',  450000000, 449853000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002647', '民盛金科', '2011-12-28', 'J 金融业',  373291100, 373291100, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002648', '卫星石化', '2011-12-28', 'C 制造业',  1063710806, 801228000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002649', '博彦科技', '2012-01-06', 'I 信息技术',  526242300, 403175048, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002650', '加加食品', '2012-01-06', 'C 制造业',  1152000000, 945879260, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002651', '利君股份', '2012-01-06', 'C 制造业',  1002500000, 417934010, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002652', '扬子新材', '2012-01-19', 'C 制造业',  512064000, 421043780, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002653', '海思科', '2012-01-17', 'C 制造业',  1080270000, 454509107, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002654', '万润科技', '2012-02-17', 'C 制造业',  881245378, 490321048, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002655', '共达电声', '2012-02-17', 'C 制造业',  360000000, 360000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002656', '摩登大道', '2012-02-28', 'C 制造业',  445324903, 273950000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002657', '中科金财', '2012-02-28', 'I 信息技术',  337576686, 276395117, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002658', '雪迪龙', '2012-03-09', 'C 制造业',  604880320, 304489205, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002659', '凯文教育', '2012-03-09', 'E 建筑业',  498566987, 310993000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002660', '茂硕电源', '2012-03-16', 'C 制造业',  274780458, 190539925, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002661', '克明面业', '2012-03-16', 'C 制造业',  333556523, 327689467, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002662', '京威股份', '2012-03-09', 'C 制造业',  1500000000, 1458971100, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002663', '普邦股份', '2012-03-16', 'E 建筑业',  1795890452, 1174621001, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002664', '长鹰信质', '2012-03-16', 'C 制造业',  400020000, 352316625, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002665', '首航节能', '2012-03-27', 'C 制造业',  2538720737, 1555936591, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002666', '德联集团', '2012-03-27', 'C 制造业',  754329268, 444064730, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002667', '鞍重股份', '2012-03-29', 'C 制造业',  135960000, 93613750, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002668', '奥马电器', '2012-04-16', 'C 制造业',  637712605, 384687106, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002669', '康达新材', '2012-04-16', 'C 制造业',  230797101, 215040492, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002670', '国盛金控', '2012-04-16', 'J 金融业',  1497804400, 492795991, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002671', '龙泉股份', '2012-04-26', 'C 制造业',  472441974, 333252579, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002672', '东江环保', '2012-04-26', 'C 制造业',  688099602, 650864512, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002673', '西部证券', '2012-05-03', 'J 金融业',  3501839770, 3501839770, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002674', '兴业科技', '2012-05-07', 'C 制造业',  302178412, 240423075, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002675', '东诚药业', '2012-05-25', 'C 制造业',  703603035, 577846892, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002676', '顺威股份', '2012-05-25', 'C 制造业',  720000000, 719976460, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002677', '浙江美大', '2012-05-25', 'C 制造业',  646076564, 282936051, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002678', '珠江钢琴', '2012-05-30', 'C 制造业',  1044861787, 954110000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002679', '福建金森', '2012-06-05', 'A 农林牧渔',  138680000, 138680000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002680', '长生生物', '2012-06-05', 'C 制造业',  973690378, 441046737, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002681', '奋达科技', '2012-06-05', 'C 制造业',  1480406272, 723218298, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002682', '龙洲股份', '2012-06-12', 'G 运输仓储',  374912396, 263850025, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002683', '宏大爆破', '2012-06-12', 'B 采矿业',  701487983, 576735962, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002684', '猛狮科技', '2012-06-12', 'C 制造业',  567374389, 324085728, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002685', '华东重机', '2012-06-12', 'C 制造业',  1007690641, 559999950, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002686', '亿利达', '2012-07-03', 'C 制造业',  443082021, 325949831, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002687', '乔治白', '2012-07-13', 'C 制造业',  354852000, 319422000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002688', '金河生物', '2012-07-13', 'C 制造业',  635289655, 532588078, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002689', '远大智能', '2012-07-17', 'C 制造业',  948464296, 946210993, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002690', '美亚光电', '2012-07-31', 'C 制造业',  676000000, 327558539, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002691', '冀凯股份', '2012-07-31', 'C 制造业',  200000000, 199464764, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002692', '睿康股份', '2012-08-08', 'C 制造业',  718146000, 579669201, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002693', '双成药业', '2012-08-08', 'C 制造业',  405000000, 403406321, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002694', '顾地科技', '2012-08-16', 'C 制造业',  597196800, 498635056, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002695', '煌上煌', '2012-09-05', 'C 制造业',  499957128, 453120258, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002696', '百洋股份', '2012-09-05', 'A 农林牧渔',  232535701, 104244135, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002697', '红旗连锁', '2012-09-05', 'F 批发零售',  1360000000, 986424100, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002698', '博实股份', '2012-09-11', 'C 制造业',  681700000, 544430640, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002699', '美盛文化', '2012-09-11', 'R 文化传播',  909572725, 728297495, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002700', '新疆浩源', '2012-09-21', 'D 水电煤气',  422426880, 313130880, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002701', '奥瑞金', '2012-10-11', 'C 制造业',  2355225600, 1798185371, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002702', '海欣食品', '2012-10-11', 'C 制造业',  480760000, 296395000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002703', '浙江世宝', '2012-11-02', 'C 制造业',  572859637, 449698933, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002705', '新宝股份', '2014-01-21', 'C 制造业',  813437768, 458867900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002706', '良信电器', '2014-01-21', 'C 制造业',  524015580, 364937083, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002707', '众信旅游', '2014-01-23', 'L 商务服务',  850060820, 513833983, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002708', '光洋股份', '2014-01-21', 'C 制造业',  468861076, 240236242, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002709', '天赐材料', '2014-01-23', 'C 制造业',  339667541, 179327401, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002711', '欧浦智网', '2014-01-27', 'G 运输仓储',  1056070400, 1048974292, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002712', '思美传媒', '2014-01-23', 'L 商务服务',  342033817, 173879001, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002713', '东易日盛', '2014-02-19', 'E 建筑业',  262907131, 75729112, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002714', '牧原股份', '2014-01-28', 'A 农林牧渔',  1158463457, 596851613, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002715', '登云股份', '2014-02-19', 'C 制造业',  92000000, 76550445, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002716', '金贵银业', '2014-01-28', 'C 制造业',  564987172, 319032598, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002717', '岭南股份', '2014-02-19', 'E 建筑业',  436226800, 230857633, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002718', '友邦吊顶', '2014-01-28', 'C 制造业',  87631886, 25575938, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002719', '麦趣尔', '2014-01-28', 'C 制造业',  108837161, 85498024, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002721', '金一文化', '2014-01-27', 'C 制造业',  834718154, 465854040, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002722', '金轮股份', '2014-01-28', 'C 制造业',  175466542, 110932051, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002723', '金莱特', '2014-01-29', 'C 制造业',  186700000, 173650000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002724', '海洋王', '2014-11-04', 'C 制造业',  600000000, 276502477, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002725', '跃岭股份', '2014-01-29', 'C 制造业',  160000000, 68611319, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002726', '龙大肉食', '2014-06-26', 'C 制造业',  756092000, 747270511, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002727', '一心堂', '2014-07-02', 'F 批发零售',  567769811, 293347593, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002728', '特一药业', '2014-07-31', 'C 制造业',  200000000, 118677500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002729', '好利来', '2014-09-12', 'C 制造业',  66680000, 66680000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002730', '电光科技', '2014-10-09', 'C 制造业',  322674000, 290499000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002731', '萃华珠宝', '2014-11-04', 'C 制造业',  150680000, 128599833, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002732', '燕塘乳业', '2014-12-05', 'C 制造业',  157350000, 155621325, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002733', '雄韬股份', '2014-12-03', 'C 制造业',  350113207, 311609762, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002734', '利民股份', '2015-01-27', 'C 制造业',  164708953, 123718083, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002735', '王子新材', '2014-12-03', 'C 制造业',  84223900, 41952500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002736', '国信证券', '2014-12-29', 'J 金融业',  8200000000, 8200000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002737', '葵花药业', '2014-12-30', 'C 制造业',  292000000, 258389373, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002738', '中矿资源', '2014-12-30', 'M 科研服务',  192325000, 122995325, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002739', '万达电影', '2015-01-22', 'R 文化传播',  1174294974, 1140189309, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002740', '爱迪尔', '2015-01-22', 'C 制造业',  330586904, 156502338, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002741', '光华科技', '2015-02-16', 'C 制造业',  374228798, 178415240, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002742', '三圣股份', '2015-02-17', 'C 制造业',  432000000, 226652165, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002743', '富煌钢构', '2015-02-17', 'C 制造业',  337210880, 331960880, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002745', '木林森', '2015-02-17', 'C 制造业',  528327918, 259935393, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002746', '仙坛股份', '2015-02-16', 'A 农林牧渔',  181840201, 142541701, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002747', '埃斯顿', '2015-03-20', 'C 制造业',  838490805, 821399232, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002748', '世龙实业', '2015-03-19', 'C 制造业',  240000000, 240000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002749', '国光股份', '2015-03-20', 'C 制造业',  75000000, 48370725, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002750', '龙津药业', '2015-03-24', 'C 制造业',  400500000, 397288326, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002751', '易尚展示', '2015-04-24', 'C 制造业',  154600613, 76580000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002752', '昇兴股份', '2015-04-22', 'C 制造业',  833180519, 163496825, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002753', '永东股份', '2015-05-19', 'C 制造业',  222076659, 85951659, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002755', '东方新星', '2015-05-15', 'E 建筑业',  101340000, 35140000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002756', '永兴特钢', '2015-05-15', 'C 制造业',  360000000, 139930396, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002757', '南兴装备', '2015-05-27', 'C 制造业',  111036000, 40078500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002758', '华通医药', '2015-05-27', 'F 批发零售',  210000000, 124113282, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002759', '天际股份', '2015-05-28', 'C 制造业',  452179983, 117365397, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002760', '凤形股份', '2015-06-11', 'C 制造业',  88000000, 45860224, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002761', '多喜爱', '2015-06-10', 'C 制造业',  120000000, 56032096, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002762', '金发拉比', '2015-06-10', 'C 制造业',  203780000, 70224563, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002763', '汇洁股份', '2015-06-10', 'C 制造业',  388800000, 113632920, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002765', '蓝黛传动', '2015-06-12', 'C 制造业',  428882000, 162305950, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002766', '索菱股份', '2015-06-11', 'C 制造业',  421754014, 173644252, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002767', '先锋电子', '2015-06-12', 'C 制造业',  150000000, 37500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002768', '国恩股份', '2015-06-30', 'C 制造业',  271250000, 86954400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002769', '普路通', '2015-06-29', 'L 商务服务',  376513608, 191454756, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002770', '科迪乳业', '2015-06-30', 'C 制造业',  1094867797, 583112772, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002771', '真视通', '2015-06-29', 'I 信息技术',  161600200, 77363650, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002772', '众兴菌业', '2015-06-26', 'A 农林牧渔',  373330707, 218799882, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002773', '康弘药业', '2015-06-26', 'C 制造业',  674210027, 70403379, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002774', '快意电梯', '2017-03-24', 'C 制造业',  334800000, 84770123, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002775', '文科园林', '2015-06-29', 'E 建筑业',  247495000, 121947500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002776', '柏堡龙', '2015-06-26', 'M 科研服务',  240458204, 105358204, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002777', '久远银海', '2015-12-31', 'I 信息技术',  172540592, 60040000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002778', '高科石化', '2016-01-06', 'C 制造业',  89109500, 47562263, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002779', '中坚科技', '2015-12-09', 'C 制造业',  132000000, 40425000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002780', '三夫户外', '2015-12-09', 'F 批发零售',  112349464, 64607142, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002781', '奇信股份', '2015-12-22', 'E 建筑业',  225000000, 91407101, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002782', '可立克', '2015-12-22', 'C 制造业',  426000000, 106500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002783', '凯龙股份', '2015-12-09', 'C 制造业',  208675000, 107005000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002785', '万里石', '2015-12-23', 'C 制造业',  200000000, 96885604, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002786', '银宝山新', '2015-12-23', 'C 制造业',  381240000, 136710000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002787', '华源控股', '2015-12-31', 'C 制造业',  288120000, 103509135, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002788', '鹭燕医药', '2016-02-18', 'F 批发零售',  128168800, 69670675, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002789', '建艺集团', '2016-03-11', 'E 建筑业',  81200000, 38595630, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002790', '瑞尔特', '2016-03-08', 'C 制造业',  160000000, 40000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002791', '坚朗五金', '2016-03-29', 'C 制造业',  321540000, 80385000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002792', '通宇通讯', '2016-03-28', 'C 制造业',  225756000, 70714297, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002793', '东音股份', '2016-04-15', 'C 制造业',  200000000, 64424850, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002795', '永和智控', '2016-04-28', 'C 制造业',  200000000, 63750000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002796', '世嘉科技', '2016-05-10', 'C 制造业',  102506483, 29901750, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002797', '第一创业', '2016-05-11', 'J 金融业',  3502400000, 1918449014, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002798', '帝王洁具', '2016-05-25', 'C 制造业',  133365148, 32100220, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002799', '环球印务', '2016-06-08', 'C 制造业',  150000000, 76875000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002800', '天顺股份', '2016-05-30', 'G 运输仓储',  74680000, 35163175, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002801', '微光股份', '2016-06-22', 'C 制造业',  118345000, 29440000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002802', '洪汇新材', '2016-06-29', 'C 制造业',  108350000, 39037390, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002803', '吉宏股份', '2016-07-12', 'C 制造业',  116000000, 45999900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002805', '丰元股份', '2016-07-07', 'C 制造业',  96913800, 53623450, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002806', '华锋股份', '2016-07-26', 'C 制造业',  137105100, 56161625, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002807', '江阴银行', '2016-09-02', 'J 金融业',  1767354347, 716710434, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002808', '苏州恒久', '2016-08-12', 'C 制造业',  192000000, 87829904, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002809', '红墙股份', '2016-08-23', 'C 制造业',  125039500, 60257175, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002810', '山东赫达', '2016-08-26', 'C 制造业',  95560000, 51160143, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002811', '亚泰国际', '2016-09-08', 'E 建筑业',  180000000, 45000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002812', '创新股份', '2016-09-14', 'C 制造业',  136450000, 62873650, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002813', '路畅科技', '2016-10-12', 'C 制造业',  120000000, 30000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002815', '崇达技术', '2016-10-12', 'C 制造业',  410000000, 106114958, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002816', '和科达', '2016-10-25', 'C 制造业',  100000000, 57310056, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002817', '黄山胶囊', '2016-10-25', 'C 制造业',  86670000, 41540000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002818', '富森美', '2016-11-09', 'L 商务服务',  440000000, 91520000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002819', '东方中科', '2016-11-11', 'F 批发零售',  113340000, 44315133, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002820', '桂发祥', '2016-11-18', 'C 制造业',  128000000, 75169213, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002821', '凯莱英', '2016-11-18', 'C 制造业',  230110706, 119287352, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002822', '中装建设', '2016-11-29', 'E 建筑业',  600000000, 306060000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002823', '凯中精密', '2016-11-24', 'C 制造业',  290329987, 98583162, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002824', '和胜股份', '2017-01-12', 'C 制造业',  180000000, 74203498, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002825', '纳尔股份', '2016-11-29', 'C 制造业',  100310000, 29232260, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002826', '易明医药', '2016-12-09', 'C 制造业',  189720000, 101255375, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002827', '高争民爆', '2016-12-09', 'C 制造业',  184000000, 63146500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002828', '贝肯能源', '2016-12-08', 'B 采矿业',  119770000, 56910000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002829', '星网宇达', '2016-12-13', 'C 制造业',  161670000, 58956546, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002830', '名雕股份', '2016-12-13', 'E 建筑业',  133340000, 39840000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002831', '裕同科技', '2016-12-16', 'C 制造业',  400010000, 119471299, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002832', '比音勒芬', '2016-12-23', 'C 制造业',  106670000, 46470000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002833', '弘亚数控', '2016-12-28', 'C 制造业',  135314000, 53362500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002835', '同为股份', '2016-12-28', 'C 制造业',  216000000, 84129068, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002836', '新宏泽', '2016-12-29', 'C 制造业',  160000000, 56368000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002837', '英维克', '2016-12-29', 'C 制造业',  202584346, 67362028, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002838', '道恩股份', '2017-01-06', 'C 制造业',  126000000, 37653678, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002839', '张家港行', '2017-01-24', 'J 金融业',  1807526665, 835702485, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002840', '华统股份', '2017-01-10', 'C 制造业',  178666700, 97824052, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002841', '视源股份', '2017-01-19', 'C 制造业',  406787500, 40499925, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002842', '翔鹭钨业', '2017-01-19', 'C 制造业',  100000000, 42250000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002843', '泰嘉股份', '2017-01-20', 'C 制造业',  141695000, 84000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002845', '同兴达', '2017-01-25', 'C 制造业',  201347968, 62399700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002846', '英联股份', '2017-02-07', 'C 制造业',  194643200, 50400000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002847', '盐津铺子', '2017-02-08', 'C 制造业',  124000000, 36068538, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002848', '高斯贝尔', '2017-02-13', 'C 制造业',  167150000, 87647350, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002849', '威星智能', '2017-02-17', 'C 制造业',  86666700, 38324600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002850', '科达利', '2017-03-02', 'C 制造业',  140000000, 61932088, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002851', '麦格米特', '2017-03-06', 'C 制造业',  180666147, 83621714, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002852', '道道全', '2017-03-10', 'C 制造业',  170000000, 73765673, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002853', '皮阿诺', '2017-03-10', 'C 制造业',  155341500, 58030745, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002855', '捷荣技术', '2017-03-21', 'C 制造业',  240000000, 83400000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002856', '美芝股份', '2017-03-20', 'E 建筑业',  101340000, 25340000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002857', '三晖电气', '2017-03-23', 'C 制造业',  80000000, 30434783, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002858', '力盛赛车', '2017-03-24', 'R 文化传播',  63160000, 30827500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002859', '洁美科技', '2017-04-07', 'C 制造业',  255700000, 58200000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002860', '星帅尔', '2017-04-12', 'C 制造业',  75978680, 15200000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002861', '瀛通通讯', '2017-04-13', 'C 制造业',  122698400, 29913400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002862', '实丰文化', '2017-04-11', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002863', '今飞凯达', '2017-04-18', 'C 制造业',  221500000, 55500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002864', '盘龙药业', '2017-11-16', 'C 制造业',  86670000, 21670000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002865', '钧达股份', '2017-04-25', 'C 制造业',  120000000, 30000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002866', '传艺科技', '2017-04-26', 'C 制造业',  143626700, 35906700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002867', '周大生', '2017-04-27', 'F 批发零售',  485379500, 76849500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002868', '绿康生化', '2017-05-03', 'C 制造业',  120000000, 30000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002869', '金溢科技', '2017-05-15', 'C 制造业',  117800000, 29520000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002870', '香山股份', '2017-05-15', 'C 制造业',  111122400, 27669530, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002871', '伟隆股份', '2017-05-11', 'C 制造业',  68000000, 17000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002872', '天圣制药', '2017-05-19', 'F 批发零售',  212000000, 53000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002873', '新天药业', '2017-05-19', 'C 制造业',  68880000, 17220000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002875', '安奈儿', '2017-06-01', 'C 制造业',  101630100, 25000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002876', '三利谱', '2017-05-25', 'C 制造业',  80000000, 19974000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002877', '智能自控', '2017-06-05', 'C 制造业',  122240000, 30560000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002878', '元隆雅图', '2017-06-06', 'L 商务服务',  76605300, 18840000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002879', '长缆科技', '2017-07-07', 'C 制造业',  137934029, 34999900, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002880', '卫光生物', '2017-06-16', 'C 制造业',  108000000, 27000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002881', '美格智能', '2017-06-22', 'C 制造业',  106670000, 26670000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002882', '金龙羽', '2017-07-17', 'C 制造业',  425000000, 79999900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002883', '中设股份', '2017-06-20', 'M 科研服务',  53333500, 13333500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002884', '凌霄泵业', '2017-07-11', 'C 制造业',  77470000, 19370000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002885', '京泉华', '2017-06-27', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002886', '沃特股份', '2017-06-27', 'C 制造业',  78431500, 19608000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002887', '绿茵生态', '2017-08-01', 'E 建筑业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002888', '惠威科技', '2017-07-21', 'C 制造业',  83117600, 20780000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002889', '东方嘉盛', '2017-07-31', 'L 商务服务',  138101429, 34527500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002890', '弘宇股份', '2017-08-02', 'C 制造业',  66670000, 16670000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002891', '中宠股份', '2017-08-21', 'C 制造业',  100000000, 25000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002892', '科力尔', '2017-08-17', 'C 制造业',  83600000, 17600000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002893', '华通热力', '2017-09-15', 'D 水电煤气',  120000000, 30000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002895', '川恒股份', '2017-08-25', 'C 制造业',  407083000, 40010000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002896', '中大力德', '2017-08-29', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002897', '意华股份', '2017-09-07', 'C 制造业',  106670000, 26670000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002898', '赛隆药业', '2017-09-12', 'C 制造业',  160000000, 39999900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002899', '英派斯', '2017-09-15', 'C 制造业',  120000000, 30000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002900', '哈三联', '2017-09-22', 'C 制造业',  211066700, 52766700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002901', '大博医疗', '2017-09-22', 'C 制造业',  400100000, 40097600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002902', '铭普光磁', '2017-09-29', 'C 制造业',  140000000, 34999900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002903', '宇环数控', '2017-10-13', 'C 制造业',  100000000, 25000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002905', '金逸影视', '2017-10-16', 'R 文化传播',  168000000, 42000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002906', '华阳集团', '2017-10-13', 'C 制造业',  473100000, 73100000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002907', '华森制药', '2017-10-20', 'C 制造业',  400060000, 40060000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002908', '德生科技', '2017-10-20', 'I 信息技术',  133340000, 33340000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002909', '集泰股份', '2017-10-26', 'C 制造业',  120000000, 30000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002910', '庄园牧场', '2017-10-31', 'C 制造业',  152210000, 46840000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002911', '佛燃股份', '2017-11-22', 'D 水电煤气',  556000000, 56000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002912', '中新赛克', '2017-11-21', 'I 信息技术',  66700000, 16700000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002913', '奥士康', '2017-12-01', 'C 制造业',  144052000, 36013000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002915', '中欣氟材', '2017-12-05', 'C 制造业',  112000000, 28000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002916', '深南电路', '2017-12-13', 'C 制造业',  280000000, 70000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002917', '金奥博', '2017-12-08', 'C 制造业',  113060000, 28270000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002918', '蒙娜丽莎', '2017-12-19', 'C 制造业',  157720000, 39430000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002919', '名臣健康', '2017-12-18', 'C 制造业',  81423830, 20360000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002920', '德赛西威', '2017-12-26', 'C 制造业',  550000000, 100000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002921', '联诚精密', '2017-12-27', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002922', '伊戈尔', '2017-12-29', 'C 制造业',  131992875, 33000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002923', '润都股份', '2018-01-05', 'C 制造业',  100000000, 25000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002925', '盈趣科技', '2018-01-15', 'C 制造业',  455160000, 75000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002926', '华西证券', '2018-02-05', 'J 金融业',  2625000000, 525000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002927', '泰永长征', '2018-02-23', 'C 制造业',  93800000, 23450000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002928', '华夏航空', '2018-03-02', 'G 运输仓储',  400500000, 40500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002929', '润建通信', '2018-03-01', 'I 信息技术',  220746347, 55186600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002930', '宏川智慧', '2018-03-28', 'G 运输仓储',  243298220, 60830000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('002931', '锋龙股份', '2018-04-03', 'C 制造业',  88880000, 22220000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300001', '特锐德', '2009-10-30', 'C 制造业',  997570075, 866394601, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300002', '神州泰岳', '2009-10-30', 'I 信息技术',  1961091984, 1372683429, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300003', '乐普医疗', '2009-10-30', 'C 制造业',  1781652921, 1407212674, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300004', '南风股份', '2009-10-30', 'C 制造业',  509218928, 457550240, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300005', '探路者', '2009-10-30', 'C 制造业',  891293904, 662204290, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300006', '莱美药业', '2009-10-30', 'C 制造业',  812241205, 585565980, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300007', '汉威科技', '2009-10-30', 'C 制造业',  293022806, 224256810, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300008', '天海防务', '2009-10-30', 'M 科研服务',  960016185, 578855307, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300009', '安科生物', '2009-10-30', 'C 制造业',  712481401, 461604849, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300010', '立思辰', '2009-10-30', 'I 信息技术',  873060697, 642504711, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300011', '鼎汉技术', '2009-10-30', 'C 制造业',  558650387, 448155110, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300012', '华测检测', '2009-10-30', 'M 科研服务',  1657530714, 1504740651, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300013', '新宁物流', '2009-10-30', 'G 运输仓储',  297791410, 234661385, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300014', '亿纬锂能', '2009-10-30', 'C 制造业',  856366226, 819259703, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300015', '爱尔眼科', '2009-10-30', 'Q 卫生',  1589180683, 1216882662, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300016', '北陆药业', '2009-10-30', 'C 制造业',  325993251, 253912095, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300017', '网宿科技', '2009-10-30', 'I 信息技术',  2432161245, 1606726756, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300018', '中元股份', '2009-10-30', 'C 制造业',  487116536, 345915930, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300019', '硅宝科技', '2009-10-30', 'C 制造业',  330901951, 271217296, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300020', '银江股份', '2009-10-30', 'I 信息技术',  655789086, 618661393, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300021', '大禹节水', '2009-10-30', 'C 制造业',  797360687, 651617314, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300022', '吉峰农机', '2009-10-30', 'F 批发零售',  380240380, 321128925, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300023', '宝德股份', '2009-10-30', 'L 商务服务',  316106775, 131158844, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300024', '机器人', '2009-10-30', 'C 制造业',  1560239617, 1500458945, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300025', '华星创业', '2009-10-30', 'I 信息技术',  428530562, 389440213, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300026', '红日药业', '2009-10-30', 'C 制造业',  3011054793, 2393950183, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300027', '华谊兄弟', '2009-10-30', 'R 文化传播',  2774505919, 1920141197, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300028', '金亚科技', '2009-10-30', 'C 制造业',  343980000, 343975028, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300029', '天龙光电', '2009-12-25', 'C 制造业',  200000000, 200000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300030', '阳普医疗', '2009-12-25', 'C 制造业',  308795815, 254371177, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300031', '宝通科技', '2009-12-25', 'I 信息技术',  396767886, 256703676, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300032', '金龙机电', '2009-12-25', 'C 制造业',  803169608, 789357454, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300033', '同花顺', '2009-12-25', 'I 信息技术',  537600000, 264104879, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300034', '钢研高纳', '2009-12-25', 'C 制造业',  422236162, 421073729, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300035', '中科电气', '2009-12-25', 'C 制造业',  518006058, 390129838, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300036', '超图软件', '2009-12-25', 'I 信息技术',  449537367, 327767684, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300037', '新宙邦', '2010-01-08', 'C 制造业',  379520368, 228529332, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300038', '梅泰诺', '2010-01-08', 'I 信息技术',  418509687, 145696696, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300039', '上海凯宝', '2010-01-08', 'C 制造业',  1071493800, 720391858, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300040', '九洲电气', '2010-01-08', 'C 制造业',  346187204, 232917470, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300041', '回天新材', '2010-01-08', 'C 制造业',  425712412, 263155022, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300042', '朗科科技', '2010-01-08', 'C 制造业',  133600000, 111870420, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300043', '星辉娱乐', '2010-01-20', 'I 信息技术',  1244198401, 867295567, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300044', '赛为智能', '2010-01-20', 'I 信息技术',  432513761, 254469205, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300045', '华力创通', '2010-01-20', 'C 制造业',  616191387, 358336701, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300046', '台基股份', '2010-01-20', 'C 制造业',  142080000, 142080000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300047', '天源迪科', '2010-01-20', 'I 信息技术',  399737270, 280049008, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300048', '合康新能', '2010-01-20', 'C 制造业',  1126540857, 983582462, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300049', '福瑞股份', '2010-01-20', 'C 制造业',  263053100, 227870722, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300050', '世纪鼎利', '2010-01-20', 'I 信息技术',  560861718, 337173497, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300051', '三五互联', '2010-02-11', 'I 信息技术',  367609570, 245300721, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300052', '中青宝', '2010-02-11', 'I 信息技术',  261038600, 260204657, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300053', '欧比特', '2010-02-11', 'C 制造业',  623180110, 465081063, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300054', '鼎龙股份', '2010-02-11', 'C 制造业',  961016002, 667747295, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300055', '万邦达', '2010-02-26', 'E 建筑业',  865184815, 865184815, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300056', '三维丝', '2010-02-26', 'C 制造业',  385490443, 228625455, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300057', '万顺股份', '2010-02-26', 'C 制造业',  439664781, 294108062, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300058', '蓝色光标', '2010-02-26', 'L 商务服务',  2182089130, 1681831190, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300059', '东方财富', '2010-03-19', 'I 信息技术',  4288779718, 3444838589, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300061', '康旗股份', '2010-03-19', 'C 制造业',  526799049, 200142048, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300062', '中能电气', '2010-03-19', 'C 制造业',  308000000, 189343550, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300063', '天龙集团', '2010-03-26', 'L 商务服务',  726426950, 410624034, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300064', '豫金刚石', '2010-03-26', 'C 制造业',  1205476595, 605655065, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300065', '海兰信', '2010-03-26', 'C 制造业',  362340972, 274045449, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300066', '三川智慧', '2010-03-26', 'C 制造业',  1040033262, 957680114, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300067', '安诺其', '2010-04-21', 'C 制造业',  726916368, 432219757, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300068', '南都电源', '2010-04-21', 'C 制造业',  874894167, 597454966, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300069', '金利华电', '2010-04-21', 'C 制造业',  117000000, 92397572, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300070', '碧水源', '2010-04-21', 'N 公共环保',  3145399537, 2004506038, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300071', '华谊嘉信', '2010-04-21', 'L 商务服务',  678491488, 469990093, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300072', '三聚环保', '2010-04-27', 'C 制造业',  1808079963, 1385962977, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300073', '当升科技', '2010-04-27', 'C 制造业',  366068040, 333413262, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300074', '华平股份', '2010-04-27', 'I 信息技术',  542771100, 488877861, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300075', '数字政通', '2010-04-27', 'I 信息技术',  424626905, 273863970, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300076', 'GQY视讯', '2010-04-30', 'C 制造业',  424000000, 381872762, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300077', '国民技术', '2010-04-30', 'C 制造业',  563393000, 542416700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300078', '思创医惠', '2010-04-30', 'C 制造业',  807885334, 516506273, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300079', '数码科技', '2010-04-30', 'C 制造业',  1377793862, 1209154691, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300080', '易成新能', '2010-06-25', 'C 制造业',  502804021, 502017465, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300081', '恒信东方', '2010-05-20', 'F 批发零售',  530727876, 245100502, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300082', '奥克股份', '2010-05-20', 'C 制造业',  680670000, 673920000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300083', '劲胜智能', '2010-05-20', 'C 制造业',  1431685568, 1190811891, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300084', '海默科技', '2010-05-20', 'B 采矿业',  384765738, 310159762, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300085', '银之杰', '2010-05-26', 'I 信息技术',  706640535, 390984841, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300086', '康芝药业', '2010-05-26', 'C 制造业',  450000000, 435663111, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300087', '荃银高科', '2010-05-26', 'A 农林牧渔',  422381151, 345072452, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300088', '长信科技', '2010-05-26', 'C 制造业',  2298879814, 2262303535, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300089', '文化长城', '2010-06-25', 'C 制造业',  434800140, 288170934, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300090', '盛运环保', '2010-06-25', 'C 制造业',  1319952922, 921262623, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300091', '金通灵', '2010-06-25', 'C 制造业',  555598900, 375242099, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300092', '科新机电', '2010-07-08', 'C 制造业',  237514202, 167102104, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300093', '金刚玻璃', '2010-07-08', 'C 制造业',  216000000, 215204625, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300094', '国联水产', '2010-07-08', 'A 农林牧渔',  783845620, 745497166, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300095', '华伍股份', '2010-07-28', 'C 制造业',  378710854, 240108500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300096', '易联众', '2010-07-28', 'I 信息技术',  430000000, 376522079, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300097', '智云股份', '2010-07-28', 'C 制造业',  288549669, 134682827, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300098', '高新兴', '2010-07-28', 'I 信息技术',  1174928701, 583324026, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300099', '精准信息', '2010-08-06', 'C 制造业',  669279255, 388736722, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300100', '双林股份', '2010-08-06', 'C 制造业',  400769246, 386561022, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300101', '振芯科技', '2010-08-06', 'C 制造业',  556000000, 549640804, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300102', '乾照光电', '2010-08-12', 'C 制造业',  716403311, 704538311, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300103', '达刚路机', '2010-08-12', 'C 制造业',  211734000, 167490840, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300104', '乐视网', '2010-08-12', 'I 信息技术',  3989440192, 3042777612, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300105', '龙源技术', '2010-08-20', 'C 制造业',  513216000, 513216000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300106', '西部牧业', '2010-08-20', 'A 农林牧渔',  211332310, 210298796, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300107', '建新股份', '2010-08-20', 'C 制造业',  546728522, 330244960, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300108', '吉药控股', '2010-08-25', 'C 制造业',  666014674, 444624970, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300109', '新开源', '2010-08-25', 'C 制造业',  169732261, 85681232, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300110', '华仁药业', '2010-08-25', 'C 制造业',  1182212982, 1178016486, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300111', '向日葵', '2010-08-27', 'C 制造业',  1119800000, 1117239595, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300112', '万讯自控', '2010-08-27', 'C 制造业',  285777080, 176090802, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300113', '顺网科技', '2010-08-27', 'I 信息技术',  694287240, 471613168, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300114', '中航电测', '2010-08-27', 'C 制造业',  590760499, 590750882, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300115', '长盈精密', '2010-09-02', 'C 制造业',  909234205, 905293299, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300116', '坚瑞沃能', '2010-09-02', 'C 制造业',  2432524564, 1293870905, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300117', '嘉寓股份', '2010-09-02', 'E 建筑业',  716760000, 714285000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300118', '东方日升', '2010-09-02', 'C 制造业',  904301941, 507019352, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300119', '瑞普生物', '2010-09-17', 'C 制造业',  404493463, 204743577, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300120', '经纬电材', '2010-09-17', 'C 制造业',  294531785, 164456170, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300121', '阳谷华泰', '2010-09-17', 'C 制造业',  375131706, 352777932, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300122', '智飞生物', '2010-09-28', 'C 制造业',  1600000000, 869169025, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300123', '亚光科技', '2010-09-28', 'C 制造业',  559794902, 276580718, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300124', '汇川技术', '2010-09-28', 'C 制造业',  1664164710, 1227631840, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300125', '易世达', '2010-10-13', 'M 科研服务',  118000000, 89754506, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300126', '锐奇股份', '2010-10-13', 'C 制造业',  305408800, 210678529, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300127', '银河磁体', '2010-10-13', 'C 制造业',  323146360, 227114890, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300128', '锦富技术', '2010-10-13', 'C 制造业',  841627240, 819782063, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300129', '泰胜风能', '2010-10-19', 'C 制造业',  727087180, 490762586, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300130', '新国都', '2010-10-19', 'C 制造业',  265501200, 161098579, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300131', '英唐智控', '2010-10-19', 'F 批发零售',  1069526426, 627814728, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300132', '青松股份', '2010-10-26', 'C 制造业',  385920000, 310896736, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300133', '华策影视', '2010-10-26', 'R 文化传播',  1769704221, 1220482360, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300134', '大富科技', '2010-10-26', 'C 制造业',  767498006, 712416506, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300135', '宝利国际', '2010-10-26', 'C 制造业',  921600000, 708368715, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300136', '信维通信', '2010-11-05', 'C 制造业',  982834638, 769422393, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300137', '先河环保', '2010-11-05', 'C 制造业',  344395344, 295592803, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300138', '晨光生物', '2010-11-05', 'C 制造业',  366954422, 266298667, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300139', '晓程科技', '2010-11-12', 'C 制造业',  274000000, 212410601, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300140', '中环装备', '2010-11-12', 'C 制造业',  345154706, 245406765, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300141', '和顺电气', '2010-11-12', 'C 制造业',  255179600, 162650669, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300142', '沃森生物', '2010-11-12', 'C 制造业',  1537436984, 1377052432, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300143', '星普医科', '2010-12-09', 'C 制造业',  288387118, 138675076, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300144', '宋城演艺', '2010-12-09', 'R 文化传播',  1452607800, 1152546775, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300145', '中金环境', '2010-12-09', 'C 制造业',  1202148835, 741021775, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300146', '汤臣倍健', '2010-12-15', 'C 制造业',  1469271880, 875867333, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300147', '香雪制药', '2010-12-15', 'C 制造业',  661476335, 660399274, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300148', '天舟文化', '2010-12-15', 'R 文化传播',  844934446, 772262689, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300149', '量子高科', '2010-12-22', 'C 制造业',  422100000, 405145879, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300150', '世纪瑞尔', '2010-12-22', 'I 信息技术',  585106053, 449595485, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300151', '昌红科技', '2010-12-22', 'C 制造业',  502500000, 287030305, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300152', '科融环境', '2010-12-29', 'N 公共环保',  712800000, 712724025, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300153', '科泰电源', '2010-12-29', 'C 制造业',  320000000, 319597386, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300154', '瑞凌股份', '2010-12-29', 'C 制造业',  455240000, 313993650, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300155', '安居宝', '2011-01-07', 'C 制造业',  543370602, 277498406, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300156', '神雾环保', '2011-01-07', 'C 制造业',  1010024415, 721800000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300157', '恒泰艾普', '2011-01-07', 'B 采矿业',  712772080, 610239319, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300158', '振东制药', '2011-01-07', 'C 制造业',  519494330, 408719458, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300159', '新研股份', '2011-01-07', 'C 制造业',  1490360202, 968337046, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300160', '秀强股份', '2011-01-13', 'C 制造业',  597760000, 592128336, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300161', '华中数控', '2011-01-13', 'C 制造业',  172791187, 165406312, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300162', '雷曼股份', '2011-01-13', 'C 制造业',  349510030, 219066031, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300163', '先锋新材', '2011-01-13', 'C 制造业',  474000000, 333123092, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300164', '通源石油', '2011-01-13', 'B 采矿业',  449262159, 314713329, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300165', '天瑞仪器', '2011-01-25', 'C 制造业',  461760000, 315101769, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300166', '东方国信', '2011-01-25', 'I 信息技术',  1049969480, 806451484, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300167', '迪威迅', '2011-01-25', 'I 信息技术',  300240000, 300240000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300168', '万达信息', '2011-01-25', 'I 信息技术',  1031082642, 1023590892, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300169', '天晟新材', '2011-01-25', 'C 制造业',  325984340, 257526826, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300170', '汉得信息', '2011-02-01', 'I 信息技术',  872994589, 664044555, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300171', '东富龙', '2011-02-01', 'C 制造业',  628337040, 333626971, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300172', '中电环保', '2011-02-01', 'N 公共环保',  507000000, 346091151, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300173', '智慧松德', '2011-02-01', 'C 制造业',  586180503, 387366278, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300174', '元力股份', '2011-02-01', 'C 制造业',  244800000, 221089585, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300175', '朗源股份', '2011-02-15', 'C 制造业',  470800000, 461610280, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300176', '鸿特精密', '2011-02-15', 'C 制造业',  107280000, 105447823, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300177', '中海达', '2011-02-15', 'C 制造业',  446978611, 316750179, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300178', '腾邦国际', '2011-02-15', 'L 商务服务',  616508293, 531667053, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300179', '四方达', '2011-02-15', 'C 制造业',  496387350, 319229418, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300180', '华峰超纤', '2011-02-22', 'C 制造业',  631019839, 380000763, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300181', '佐力药业', '2011-02-22', 'C 制造业',  608624848, 397198022, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300182', '捷成股份', '2011-02-22', 'I 信息技术',  2574960807, 1453620601, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300183', '东软载波', '2011-02-22', 'I 信息技术',  470309857, 263508707, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300184', '力源信息', '2011-02-22', 'F 批发零售',  658197404, 306250238, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300185', '通裕重工', '2011-03-08', 'C 制造业',  3267743928, 2741429676, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300187', '永清环保', '2011-03-08', 'N 公共环保',  648530285, 595805322, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300188', '美亚柏科', '2011-03-16', 'I 信息技术',  497030706, 306940598, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300189', '神农基因', '2011-03-16', 'A 农林牧渔',  1024000000, 911977542, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300190', '维尔利', '2011-03-16', 'N 公共环保',  452284906, 395620496, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300191', '潜能恒信', '2011-03-16', 'B 采矿业',  320000000, 207020000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300192', '科斯伍德', '2011-03-22', 'C 制造业',  242550000, 172368989, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300193', '佳士科技', '2011-03-22', 'C 制造业',  507307078, 455938421, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300194', '福安药业', '2011-03-22', 'C 制造业',  1189712382, 572735730, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300195', '长荣股份', '2011-03-29', 'C 制造业',  433483630, 207653878, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300196', '长海股份', '2011-03-29', 'C 制造业',  424496076, 261322572, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300197', '铁汉生态', '2011-03-29', 'E 建筑业',  1519653615, 979371090, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300198', '纳川股份', '2011-04-07', 'C 制造业',  1031548540, 748508194, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300199', '翰宇药业', '2011-04-07', 'C 制造业',  934692540, 559419339, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300200', '高盟新材', '2011-04-07', 'C 制造业',  260651171, 202710356, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300201', '海伦哲', '2011-04-07', 'C 制造业',  1041006249, 868273271, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300202', '聚龙股份', '2011-04-15', 'C 制造业',  549504000, 411395657, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300203', '聚光科技', '2011-04-15', 'C 制造业',  452517400, 451657900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300204', '舒泰神', '2011-04-15', 'C 制造业',  477812254, 466702514, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300205', '天喻信息', '2011-04-21', 'C 制造业',  430056000, 425988788, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300206', '理邦仪器', '2011-04-21', 'C 制造业',  585000000, 343716219, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300207', '欣旺达', '2011-04-21', 'C 制造业',  1290674500, 1131531208, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300208', '恒顺众昇', '2011-04-26', 'C 制造业',  765525000, 579010002, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300209', '天泽信息', '2011-04-26', 'I 信息技术',  292122316, 243574772, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300210', '森远股份', '2011-04-26', 'C 制造业',  484219953, 352479850, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300211', '亿通科技', '2011-05-05', 'C 制造业',  302675973, 185704080, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300212', '易华录', '2011-05-05', 'I 信息技术',  375505157, 305025960, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300213', '佳讯飞鸿', '2011-05-05', 'C 制造业',  594926386, 368295495, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300214', '日科化学', '2011-05-11', 'C 制造业',  425812614, 309972597, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300215', '电科院', '2011-05-11', 'M 科研服务',  758322487, 608168262, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300216', '千山药机', '2011-05-11', 'C 制造业',  361434920, 281628672, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300217', '东方电热', '2011-05-18', 'C 制造业',  1273493706, 894854059, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300218', '安利股份', '2011-05-18', 'C 制造业',  216987000, 216276394, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300219', '鸿利智汇', '2011-05-18', 'C 制造业',  717915358, 535956538, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300220', '金运激光', '2011-05-25', 'C 制造业',  126000000, 124918913, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300221', '银禧科技', '2011-05-25', 'C 制造业',  505688470, 403816000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300222', '科大智能', '2011-05-25', 'C 制造业',  729820456, 324947942, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300223', '北京君正', '2011-05-31', 'C 制造业',  167067073, 100486968, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300224', '正海磁材', '2011-05-31', 'C 制造业',  835116361, 735214791, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300225', '金力泰', '2011-05-31', 'C 制造业',  470340000, 468606681, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300226', '上海钢联', '2011-06-08', 'I 信息技术',  159228300, 150813955, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300227', '光韵达', '2011-06-08', 'C 制造业',  148318152, 99832451, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300228', '富瑞特装', '2011-06-08', 'C 制造业',  473839092, 405328192, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300229', '拓尔思', '2011-06-15', 'I 信息技术',  471208546, 446886638, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300230', '永利股份', '2011-06-15', 'C 制造业',  453447801, 272239192, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300231', '银信科技', '2011-06-15', 'I 信息技术',  442100220, 327211178, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300232', '洲明科技', '2011-06-22', 'C 制造业',  634721805, 372984662, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300233', '金城医药', '2011-06-22', 'C 制造业',  393152238, 355172097, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300234', '开尔新材', '2011-06-22', 'C 制造业',  289534588, 152351762, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300235', '方直科技', '2011-06-29', 'I 信息技术',  167831090, 105521266, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300236', '上海新阳', '2011-06-29', 'C 制造业',  193765944, 190218564, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300237', '美晨生态', '2011-06-29', 'E 建筑业',  807262506, 648418673, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300238', '冠昊生物', '2011-07-06', 'C 制造业',  265155701, 188865675, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300239', '东宝生物', '2011-07-06', 'C 制造业',  460874108, 444926340, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300240', '飞力达', '2011-07-06', 'G 运输仓储',  365559750, 365035204, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300241', '瑞丰光电', '2011-07-12', 'C 制造业',  276499613, 183099038, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300242', '明家联合', '2011-07-12', 'I 信息技术',  636332984, 507776356, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300243', '瑞丰高材', '2011-07-12', 'C 制造业',  206864592, 168173121, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300244', '迪安诊断', '2011-07-19', 'Q 卫生',  551029453, 356814984, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300245', '天玑科技', '2011-07-19', 'I 信息技术',  316472493, 217193091, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300246', '宝莱特', '2011-07-19', 'C 制造业',  146088000, 107753865, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300247', '乐金健康', '2011-07-29', 'C 制造业',  804542313, 577152730, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300248', '新开普', '2011-07-29', 'I 信息技术',  324475501, 204313367, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300249', '依米康', '2011-08-03', 'C 制造业',  446121534, 302545340, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300250', '初灵信息', '2011-08-03', 'C 制造业',  232269206, 125532534, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300251', '光线传媒', '2011-08-03', 'R 文化传播',  2933608432, 2752331144, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300252', '金信诺', '2011-08-18', 'C 制造业',  444464488, 302382410, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300253', '卫宁健康', '2011-08-18', 'I 信息技术',  1615876796, 1189136300, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300254', '仟源医药', '2011-08-19', 'C 制造业',  208308000, 155837221, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300255', '常山药业', '2011-08-19', 'C 制造业',  934966878, 646182896, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300256', '星星科技', '2011-08-19', 'C 制造业',  648803942, 395916909, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300257', '开山股份', '2011-08-19', 'C 制造业',  858000000, 817581383, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300258', '精锻科技', '2011-08-26', 'C 制造业',  405000000, 376379533, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300259', '新天科技', '2011-08-31', 'C 制造业',  534389981, 328760128, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300260', '新莱应材', '2011-09-06', 'C 制造业',  201940000, 90388678, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300261', '雅本化学', '2011-09-06', 'C 制造业',  642206314, 507112063, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300262', '巴安水务', '2011-09-16', 'N 公共环保',  670382299, 432966838, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300263', '隆华节能', '2011-09-16', 'C 制造业',  882079304, 557450895, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300264', '佳创视讯', '2011-09-16', 'I 信息技术',  413100000, 318527030, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300265', '通光线缆', '2011-09-16', 'C 制造业',  337500000, 336759675, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300266', '兴源环境', '2011-09-27', 'N 公共环保',  1042954038, 955658812, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300267', '尔康制药', '2011-09-27', 'C 制造业',  2062604870, 1185373933, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300268', '佳沃股份', '2011-09-27', 'C 制造业',  134000000, 98286781, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300269', '联建光电', '2011-10-12', 'L 商务服务',  613328411, 355412278, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300270', '中威电子', '2011-10-12', 'C 制造业',  272503000, 150831764, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300271', '华宇软件', '2011-10-26', 'I 信息技术',  760736907, 501833082, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300272', '开能环保', '2011-11-02', 'C 制造业',  398185632, 222093814, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300273', '和佳股份', '2011-10-26', 'C 制造业',  787823576, 562410824, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300274', '阳光电源', '2011-11-02', 'C 制造业',  1448278600, 1057665330, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300275', '梅安森', '2011-11-02', 'I 信息技术',  164276000, 117784453, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300276', '三丰智能', '2011-11-15', 'C 制造业',  476948542, 199851863, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300277', '海联讯', '2011-11-23', 'I 信息技术',  335000000, 334390625, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300278', '华昌达', '2011-12-16', 'C 制造业',  545043412, 259298721, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300279', '和晶科技', '2011-12-29', 'C 制造业',  448941998, 312196915, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300280', '南通锻压', '2011-12-29', 'C 制造业',  128000000, 128000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300281', '金明精机', '2011-12-29', 'C 制造业',  279282387, 147093582, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300282', '汇冠股份', '2011-12-29', 'C 制造业',  249537637, 204605975, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300283', '温州宏丰', '2012-01-10', 'C 制造业',  414361350, 212954701, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300284', '苏交科', '2012-01-10', 'M 科研服务',  578217846, 349023985, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300285', '国瓷材料', '2012-01-13', 'C 制造业',  598301142, 407487531, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300286', '安科瑞', '2012-01-13', 'C 制造业',  144597000, 108531930, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300287', '飞利信', '2012-02-01', 'I 信息技术',  1435273808, 1056451459, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300288', '朗玛信息', '2012-02-16', 'I 信息技术',  337941402, 202852827, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300289', '利德曼', '2012-02-16', 'C 制造业',  423805235, 297615495, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300290', '荣科科技', '2012-02-16', 'I 信息技术',  321429652, 271307651, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300291', '华录百纳', '2012-02-09', 'R 文化传播',  812461176, 599624811, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300292', '吴通控股', '2012-02-29', 'C 制造业',  1274850476, 825081881, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300293', '蓝英装备', '2012-03-08', 'C 制造业',  270000000, 270000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300294', '博雅生物', '2012-03-08', 'C 制造业',  401077201, 327318669, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300295', '三六五网', '2012-03-15', 'I 信息技术',  192996000, 177388440, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300296', '利亚德', '2012-03-15', 'C 制造业',  1695251051, 1015175856, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300297', '蓝盾股份', '2012-03-15', 'I 信息技术',  1175365904, 741396335, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300298', '三诺生物', '2012-03-19', 'C 制造业',  471095612, 308729534, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300299', '富春股份', '2012-03-19', 'I 信息技术',  570003955, 419930852, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300300', '汉鼎宇佑', '2012-03-19', 'I 信息技术',  459393716, 383325400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300301', '长方集团', '2012-03-21', 'C 制造业',  790108769, 516792110, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300302', '同有科技', '2012-03-21', 'I 信息技术',  421057980, 244687944, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300303', '聚飞光电', '2012-03-19', 'C 制造业',  1250073737, 1021660806, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300304', '云意电气', '2012-03-21', 'C 制造业',  872291218, 844337434, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300305', '裕兴股份', '2012-03-29', 'C 制造业',  289789000, 229596394, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300306', '远方信息', '2012-03-29', 'C 制造业',  287473405, 136412522, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300307', '慈星股份', '2012-03-29', 'C 制造业',  802000000, 793223271, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300308', '中际旭创', '2012-04-10', 'C 制造业',  473857056, 214545924, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300309', '吉艾科技', '2012-04-10', 'C 制造业',  484026066, 433334463, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300310', '宜通世纪', '2012-04-25', 'I 信息技术',  893983686, 581768053, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300311', '任子行', '2012-04-25', 'I 信息技术',  447930709, 238190414, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300312', '邦讯技术', '2012-05-08', 'I 信息技术',  320040000, 184365000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300313', '天山生物', '2012-04-25', 'A 农林牧渔',  197352789, 182462105, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300314', '戴维医疗', '2012-05-08', 'C 制造业',  288000000, 189052698, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300315', '掌趣科技', '2012-05-11', 'I 信息技术',  2757992863, 2628573237, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300316', '晶盛机电', '2012-05-11', 'C 制造业',  984926080, 920918691, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300317', '珈伟股份', '2012-05-11', 'C 制造业',  854329396, 401899699, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300318', '博晖创新', '2012-05-23', 'C 制造业',  821410144, 570297703, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300319', '麦捷科技', '2012-05-23', 'C 制造业',  694450946, 472065956, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300320', '海达股份', '2012-06-01', 'C 制造业',  553594707, 452890647, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300321', '同大股份', '2012-05-23', 'C 制造业',  88800000, 82742309, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300322', '硕贝德', '2012-06-08', 'C 制造业',  407093850, 367505021, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300323', '华灿光电', '2012-06-01', 'C 制造业',  842291534, 689814534, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300324', '旋极信息', '2012-06-08', 'I 信息技术',  1172196195, 670018640, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300325', '德威新材', '2012-06-01', 'C 制造业',  1010672385, 794769266, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300326', '凯利泰', '2012-06-13', 'C 制造业',  715850773, 641260117, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300327', '中颖电子', '2012-06-13', 'C 制造业',  209985933, 207608541, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300328', '宜安科技', '2012-06-19', 'C 制造业',  460282400, 410282400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300329', '海伦钢琴', '2012-06-19', 'C 制造业',  251289880, 250884880, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300330', '华虹计通', '2012-06-19', 'I 信息技术',  168000000, 167704600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300331', '苏大维格', '2012-06-28', 'C 制造业',  226048841, 130717741, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300332', '天壕环境', '2012-06-28', 'D 水电煤气',  888932064, 635976402, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300333', '兆日科技', '2012-06-28', 'I 信息技术',  336000000, 330895067, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300334', '津膜科技', '2012-07-05', 'C 制造业',  303922186, 274844790, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300335', '迪森股份', '2012-07-10', 'D 水电煤气',  363022645, 264191732, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300336', '新文化', '2012-07-10', 'R 文化传播',  537548070, 458357609, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300337', '银邦股份', '2012-07-18', 'C 制造业',  821920000, 708336857, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300338', '开元股份', '2012-07-26', 'C 制造业',  339619692, 177517935, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300339', '润和软件', '2012-07-18', 'I 信息技术',  796410841, 515680449, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300340', '科恒股份', '2012-07-26', 'C 制造业',  117858178, 85027682, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300341', '麦迪电气', '2012-07-26', 'C 制造业',  510211336, 370863350, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300342', '天银机电', '2012-07-26', 'C 制造业',  431980272, 396194308, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300343', '联创互联', '2012-08-01', 'I 信息技术',  590392690, 365448923, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300344', '太空智造', '2012-08-01', 'C 制造业',  337747200, 204781290, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300345', '红宇新材', '2012-08-01', 'C 制造业',  441295483, 326726013, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300346', '南大光电', '2012-08-07', 'C 制造业',  160864000, 138660800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300347', '泰格医药', '2012-08-17', 'Q 卫生',  500176537, 306149837, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300348', '长亮科技', '2012-08-17', 'I 信息技术',  299300846, 185103890, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300349', '金卡智能', '2012-08-17', 'C 制造业',  238563474, 186859462, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300350', '华鹏飞', '2012-08-21', 'I 信息技术',  530619285, 251387140, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300351', '永贵电器', '2012-09-20', 'C 制造业',  384606412, 237802217, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300352', '北信源', '2012-09-12', 'I 信息技术',  1449824087, 1079263630, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300353', '东土科技', '2012-09-27', 'C 制造业',  516938160, 326151881, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300354', '东华测试', '2012-09-20', 'C 制造业',  138341201, 75470524, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300355', '蒙草生态', '2012-09-27', 'N 公共环保',  1604242081, 1180904533, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300356', '光一科技', '2012-10-09', 'C 制造业',  414849620, 368623572, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300357', '我武生物', '2014-01-21', 'C 制造业',  161600000, 141105016, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300358', '楚天科技', '2014-01-21', 'C 制造业',  480154435, 150305097, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300359', '全通教育', '2014-01-21', 'I 信息技术',  633772477, 414055415, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300360', '炬华科技', '2014-01-21', 'C 制造业',  409619150, 272606350, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300362', '天翔环境', '2014-01-21', 'C 制造业',  436999190, 227415763, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300363', '博腾股份', '2014-01-29', 'C 制造业',  424457373, 308276561, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300364', '中文在线', '2015-01-21', 'R 文化传播',  775674085, 450975181, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300365', '恒华科技', '2014-01-23', 'I 信息技术',  197328423, 108627956, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300366', '创意信息', '2014-01-27', 'I 信息技术',  525576150, 276774388, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300367', '东方网力', '2014-01-29', 'C 制造业',  855128247, 549072007, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300368', '汇金股份', '2014-01-23', 'C 制造业',  550336774, 262411679, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300369', '绿盟科技', '2014-01-29', 'I 信息技术',  804684881, 540096867, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300370', '安控科技', '2014-01-23', 'C 制造业',  958444424, 668749453, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300371', '汇中股份', '2014-01-23', 'C 制造业',  120000000, 57318620, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300373', '扬杰科技', '2014-01-23', 'C 制造业',  472262993, 233113616, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300374', '恒通科技', '2015-03-19', 'C 制造业',  245912337, 164587697, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300375', '鹏翎股份', '2014-01-27', 'C 制造业',  201689471, 135198271, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300376', '易事特', '2014-01-27', 'C 制造业',  2328673956, 2299499481, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300377', '赢时胜', '2014-01-27', 'I 信息技术',  742383330, 504573847, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300378', '鼎捷软件', '2014-01-27', 'I 信息技术',  264709943, 260969943, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300379', '东方通', '2014-01-28', 'I 信息技术',  277031708, 198551226, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300380', '安硕信息', '2014-01-28', 'I 信息技术',  137440000, 70561215, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300381', '溢多利', '2014-01-28', 'C 制造业',  406755366, 329642675, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300382', '斯莱克', '2014-01-29', 'C 制造业',  313418807, 211838171, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300383', '光环新网', '2014-01-29', 'I 信息技术',  1446351488, 1367106297, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300384', '三联虹普', '2014-08-01', 'M 科研服务',  167452961, 70780765, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300385', '雪浪环境', '2014-06-26', 'C 制造业',  130135130, 61920439, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300386', '飞天诚信', '2014-06-26', 'I 信息技术',  418044000, 204777327, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300387', '富邦股份', '2014-07-02', 'C 制造业',  124942000, 123762450, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300388', '国祯环保', '2014-08-01', 'N 公共环保',  305668467, 296507916, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300389', '艾比森', '2014-08-01', 'C 制造业',  319643336, 163645134, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300390', '天华超净', '2014-07-31', 'C 制造业',  344547500, 168789135, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300391', '康跃科技', '2014-08-01', 'C 制造业',  233557408, 61675000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300392', '腾信股份', '2014-09-10', 'I 信息技术',  384000000, 164214050, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300393', '中来股份', '2014-09-12', 'C 制造业',  241725681, 120577665, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300394', '天孚通信', '2015-02-17', 'C 制造业',  185850000, 163647150, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300395', '菲利华', '2014-09-10', 'C 制造业',  299223000, 266569721, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300396', '迪瑞医疗', '2014-09-10', 'C 制造业',  153350000, 137247850, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300397', '天和防务', '2014-09-10', 'C 制造业',  240000000, 155067525, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300398', '飞凯材料', '2014-10-09', 'C 制造业',  426740607, 364000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300399', '京天利', '2014-10-09', 'I 信息技术',  152000000, 103119433, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300400', '劲拓股份', '2014-10-10', 'C 制造业',  243450000, 155660150, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300401', '花园生物', '2014-10-09', 'C 制造业',  191715326, 171978800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300402', '宝色股份', '2014-10-10', 'C 制造业',  202000000, 86300000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300403', '地尔汉宇', '2014-10-30', 'C 制造业',  335000000, 211686637, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300404', '博济医药', '2015-04-24', 'M 科研服务',  134271000, 65174450, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300405', '科隆股份', '2014-10-30', 'C 制造业',  117230380, 61737605, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300406', '九强生物', '2014-10-30', 'C 制造业',  501837435, 329255215, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300407', '凯发电气', '2014-12-03', 'C 制造业',  276380000, 164829365, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300408', '三环集团', '2014-12-03', 'C 制造业',  1741133822, 1642494270, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300409', '道氏技术', '2014-12-03', 'C 制造业',  215000000, 134796200, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300410', '正业科技', '2014-12-31', 'C 制造业',  197107774, 174167527, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300411', '金盾股份', '2014-12-31', 'C 制造业',  263539132, 72563320, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300412', '迦南科技', '2014-12-31', 'C 制造业',  260191000, 220758325, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300413', '快乐购', '2015-01-21', 'F 批发零售',  401000000, 205678568, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300414', '中光防雷', '2015-05-13', 'C 制造业',  170912351, 83639375, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300415', '伊之密', '2015-01-23', 'C 制造业',  432000000, 295534050, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300416', '苏试试验', '2015-01-22', 'C 制造业',  125600000, 76595000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300417', '南华仪器', '2015-01-23', 'C 制造业',  81600000, 28663188, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300418', '昆仑万维', '2015-01-21', 'I 信息技术',  1151946216, 584487197, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300419', '浩丰科技', '2015-01-22', 'I 信息技术',  367753770, 237281915, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300420', '五洋停车', '2015-02-17', 'C 制造业',  511164635, 250139778, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300421', '力星股份', '2015-02-17', 'C 制造业',  133554687, 121484187, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300422', '博世科', '2015-02-17', 'N 公共环保',  355815284, 263630687, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300423', '鲁亿通', '2015-02-17', 'C 制造业',  160409469, 67193625, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300424', '航新科技', '2015-04-22', 'C 制造业',  239988992, 123669113, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300425', '环能科技', '2015-02-16', 'C 制造业',  375274766, 322632590, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300426', '唐德影视', '2015-02-17', 'R 文化传播',  400000000, 207922794, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300427', '红相股份', '2015-02-17', 'C 制造业',  352586786, 110583314, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300428', '四通新材', '2015-03-19', 'C 制造业',  242400000, 115041000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300429', '强力新材', '2015-03-24', 'C 制造业',  257185994, 139470933, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300430', '诚益通', '2015-03-19', 'C 制造业',  181339264, 92080640, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300431', '暴风集团', '2015-03-24', 'I 信息技术',  331977525, 234912308, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300432', '富临精工', '2015-03-19', 'C 制造业',  509990175, 377335511, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300433', '蓝思科技', '2015-03-18', 'C 制造业',  2629030576, 446488096, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300434', '金石东方', '2015-04-24', 'C 制造业',  223191040, 39447350, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300435', '中泰股份', '2015-03-26', 'C 制造业',  249172000, 99831832, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300436', '广生堂', '2015-04-22', 'C 制造业',  141795700, 55998500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300437', '清水源', '2015-04-23', 'C 制造业',  218321965, 98414465, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300438', '鹏辉能源', '2015-04-24', 'C 制造业',  281151873, 155396895, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300439', '美康生物', '2015-04-22', 'C 制造业',  346960900, 110392500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300440', '运达科技', '2015-04-23', 'I 信息技术',  455990000, 203285952, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300441', '鲍斯股份', '2015-04-23', 'C 制造业',  367962873, 93434460, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300442', '普丽盛', '2015-04-24', 'C 制造业',  100000000, 58088125, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300443', '金雷风电', '2015-04-22', 'C 制造业',  238056802, 127785245, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300444', '双杰电气', '2015-04-23', 'C 制造业',  325496957, 114056531, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300445', '康斯特', '2015-04-24', 'C 制造业',  165614400, 40377791, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300446', '乐凯新材', '2015-04-23', 'C 制造业',  122800000, 76776825, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300447', '全信股份', '2015-04-22', 'C 制造业',  312921953, 94305755, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300448', '浩云科技', '2015-04-24', 'I 信息技术',  218370659, 81056422, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300449', '汉邦高科', '2015-04-22', 'C 制造业',  155496668, 82865481, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300450', '先导智能', '2015-05-18', 'C 制造业',  440137075, 168983400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300451', '创业软件', '2015-05-14', 'I 信息技术',  242801887, 129572943, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300452', '山河药辅', '2015-05-15', 'C 制造业',  92800000, 42167104, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300453', '三鑫医疗', '2015-05-15', 'C 制造业',  158720000, 71261300, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300455', '康拓红外', '2015-05-15', 'C 制造业',  392000000, 158791750, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300456', '耐威科技', '2015-05-14', 'C 制造业',  187836644, 72132658, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300457', '赢合科技', '2015-05-14', 'C 制造业',  314790670, 141134060, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300458', '全志科技', '2015-05-15', 'C 制造业',  332675160, 160506892, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300459', '金科文化', '2015-05-15', 'C 制造业',  1971232995, 520368781, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300460', '惠伦晶体', '2015-05-15', 'C 制造业',  168274200, 95838729, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300461', '田中精机', '2015-05-19', 'C 制造业',  70543800, 23575000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300462', '华铭智能', '2015-05-27', 'C 制造业',  137760000, 56194600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300463', '迈克生物', '2015-05-28', 'C 制造业',  558000000, 316153188, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300464', '星徽精密', '2015-06-10', 'C 制造业',  208002500, 91791556, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300465', '高伟达', '2015-05-28', 'I 信息技术',  449866257, 268960000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300466', '赛摩电气', '2015-05-28', 'C 制造业',  552749359, 178200000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300467', '迅游科技', '2015-05-27', 'I 信息技术',  226611309, 100677952, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300468', '四方精创', '2015-05-27', 'I 信息技术',  108161550, 66858370, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300469', '信息发展', '2015-06-11', 'I 信息技术',  68300000, 28604510, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300470', '日机密封', '2015-06-12', 'C 制造业',  106680000, 63424000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300471', '厚普股份', '2015-06-11', 'C 制造业',  370614000, 222897500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300472', '新元科技', '2015-06-11', 'C 制造业',  113639054, 33517500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300473', '德尔股份', '2015-06-12', 'C 制造业',  104920000, 46326487, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300474', '景嘉微', '2016-03-31', 'C 制造业',  270396000, 67000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300475', '聚隆科技', '2015-06-10', 'C 制造业',  200000000, 72500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300476', '胜宏科技', '2015-06-11', 'C 制造业',  769707975, 335448765, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300477', '合纵科技', '2015-06-10', 'C 制造业',  323441468, 121223287, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300478', '杭州高新', '2015-06-10', 'C 制造业',  66670000, 23665775, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300479', '神思电子', '2015-06-12', 'C 制造业',  160000000, 88000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300480', '光力科技', '2015-07-02', 'C 制造业',  192232449, 64726613, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300481', '濮阳惠成', '2015-06-30', 'C 制造业',  171376000, 72940000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300482', '万孚生物', '2015-06-30', 'C 制造业',  178051500, 106106000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300483', '沃施股份', '2015-06-30', 'C 制造业',  61500000, 32363000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300484', '蓝海华腾', '2016-03-22', 'C 制造业',  208000000, 93886000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300485', '赛升药业', '2015-06-26', 'C 制造业',  240000000, 84480000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300486', '东杰智能', '2015-06-30', 'C 制造业',  140282881, 84112638, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300487', '蓝晓科技', '2015-07-02', 'C 制造业',  202393750, 88040126, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300488', '恒锋工具', '2015-07-01', 'C 制造业',  105186774, 25008000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300489', '中飞股份', '2015-07-01', 'C 制造业',  90750000, 48380626, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300490', '华自科技', '2015-12-31', 'C 制造业',  228586627, 91013371, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300491', '通合科技', '2015-12-31', 'C 制造业',  145656000, 51240716, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300492', '山鼎设计', '2015-12-23', 'M 科研服务',  83200000, 24700000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300493', '润欣科技', '2015-12-10', 'I 信息技术',  300000000, 154515000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300494', '盛天网络', '2015-12-31', 'I 信息技术',  240000000, 89790000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300495', '美尚生态', '2015-12-22', 'N 公共环保',  600796977, 242893464, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300496', '中科创达', '2015-12-10', 'I 信息技术',  403878622, 225997348, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300497', '富祥股份', '2015-12-22', 'C 制造业',  112310250, 60429525, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300498', '温氏股份', '2015-11-02', 'A 农林牧渔',  5220356227, 3572828664, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300499', '高澜股份', '2016-02-02', 'C 制造业',  120006000, 67858677, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300500', '启迪设计', '2016-02-04', 'M 科研服务',  134279528, 43364000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300501', '海顺新材', '2016-02-04', 'C 制造业',  67258800, 24040800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300502', '新易盛', '2016-03-03', 'C 制造业',  237742500, 123980385, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300503', '昊志机电', '2016-03-09', 'C 制造业',  253519670, 102922296, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300504', '天邑股份', '2018-03-30', 'C 制造业',  267408000, 66852000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300505', '川金诺', '2016-03-15', 'C 制造业',  93360000, 38165076, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300506', '名家汇', '2016-03-24', 'E 建筑业',  300000000, 133923853, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300507', '苏奥传感', '2016-04-29', 'C 制造业',  120006000, 57407325, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300508', '维宏股份', '2016-04-19', 'I 信息技术',  56820000, 14845889, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300509', '新美星', '2016-04-25', 'C 制造业',  80000000, 26300000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300510', '金冠电气', '2016-05-06', 'C 制造业',  262262574, 74058166, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300511', '雪榕生物', '2016-05-04', 'A 农林牧渔',  228550000, 122146875, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300512', '中亚股份', '2016-05-26', 'C 制造业',  270000000, 77824921, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300513', '恒泰实达', '2016-05-30', 'I 信息技术',  121856000, 61703840, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300514', '友讯达', '2017-04-26', 'C 制造业',  100000000, 25000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300515', '三德科技', '2016-06-08', 'C 制造业',  200000000, 91040700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300516', '久之洋', '2016-06-02', 'C 制造业',  120000000, 47100000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300517', '海波重科', '2016-07-19', 'E 建筑业',  102400000, 40975000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300518', '盛讯达', '2016-06-24', 'I 信息技术',  93340000, 46749675, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300519', '新光药业', '2016-06-24', 'C 制造业',  160000000, 98800000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300520', '科大国创', '2016-07-08', 'I 信息技术',  202400000, 112651992, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300521', '爱司凯', '2016-07-05', 'C 制造业',  144000000, 94863420, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300522', '世名科技', '2016-07-05', 'C 制造业',  120006000, 52205550, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300523', '辰安科技', '2016-07-26', 'I 信息技术',  144000000, 102627985, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300525', '博思软件', '2016-07-26', 'I 信息技术',  72032000, 42138549, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300526', '中潜股份', '2016-08-02', 'C 制造业',  171464816, 59814816, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300527', '华舟应急', '2016-08-05', 'C 制造业',  485835000, 143378791, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300528', '幸福蓝海', '2016-08-08', 'R 文化传播',  372608054, 151840931, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300529', '健帆生物', '2016-08-02', 'C 制造业',  417586000, 105737250, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300530', '达志科技', '2016-08-09', 'C 制造业',  70000000, 21074200, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300531', '优博讯', '2016-08-09', 'C 制造业',  280000000, 121996000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300532', '今天国际', '2016-08-18', 'I 信息技术',  154029600, 65894220, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300533', '冰川网络', '2016-08-18', 'I 信息技术',  100000000, 35728270, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300534', '陇神戎发', '2016-09-13', 'C 制造业',  303345000, 187656287, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300535', '达威股份', '2016-08-12', 'C 制造业',  59740000, 31724649, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300536', '农尚环境', '2016-09-20', 'E 建筑业',  167593219, 61110544, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300537', '广信材料', '2016-08-30', 'C 制造业',  193027584, 69201922, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300538', '同益股份', '2016-08-26', 'F 批发零售',  56476900, 15797693, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300539', '横河模具', '2016-08-30', 'C 制造业',  209000000, 60853117, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300540', '深冷股份', '2016-08-23', 'C 制造业',  80000000, 42674135, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300541', '先进数通', '2016-09-13', 'I 信息技术',  120000000, 50605600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300542', '新晨科技', '2016-09-20', 'I 信息技术',  91191500, 32782500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300543', '朗科智能', '2016-09-08', 'C 制造业',  120000000, 42600000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300545', '联得装备', '2016-09-28', 'C 制造业',  72066136, 23166436, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300546', '雄帝科技', '2016-09-28', 'C 制造业',  135205000, 63813375, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300547', '川环科技', '2016-09-30', 'C 制造业',  61744215, 30817597, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300548', '博创科技', '2016-10-12', 'C 制造业',  82670000, 34110000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300549', '优德精密', '2016-09-30', 'C 制造业',  133340000, 61039975, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300550', '和仁科技', '2016-10-18', 'I 信息技术',  83220000, 29270000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300551', '古鳌科技', '2016-10-18', 'C 制造业',  73360000, 43261800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300552', '万集科技', '2016-10-21', 'I 信息技术',  108296000, 39762040, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300553', '集智股份', '2016-10-21', 'C 制造业',  48000000, 15137427, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300554', '三超新材', '2017-04-21', 'C 制造业',  52000000, 13000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300555', '路通视信', '2016-10-18', 'C 制造业',  200000000, 92515112, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300556', '丝路视觉', '2016-11-04', 'I 信息技术',  114852000, 62300421, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300557', '理工光科', '2016-11-01', 'C 制造业',  55668540, 33515307, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300558', '贝达药业', '2016-11-07', 'C 制造业',  401000000, 169703852, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300559', '佳发安泰', '2016-11-01', 'I 信息技术',  73434000, 40124669, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300560', '中富通', '2016-11-01', 'I 信息技术',  105180000, 40527900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300561', '汇金科技', '2016-11-17', 'I 信息技术',  85160000, 33616875, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300562', '乐心医疗', '2016-11-16', 'C 制造业',  188800000, 83759680, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300563', '神宇股份', '2016-11-14', 'C 制造业',  80000000, 32075000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300565', '科信技术', '2016-11-22', 'C 制造业',  160000000, 54592000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300566', '激智科技', '2016-11-15', 'C 制造业',  124234500, 72756360, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300567', '精测电子', '2016-11-22', 'C 制造业',  81824000, 41159000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300568', '星源材质', '2016-12-01', 'C 制造业',  192000000, 127918560, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300569', '天能重工', '2016-11-25', 'C 制造业',  150012000, 80093250, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300570', '太辰光', '2016-12-06', 'C 制造业',  229996800, 94869522, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300571', '平治信息', '2016-12-13', 'I 信息技术',  80000000, 45962000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300572', '安车检测', '2016-12-06', 'C 制造业',  67254000, 30885800, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300573', '兴齐眼药', '2016-12-08', 'C 制造业',  80000000, 52468500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300575', '中旗股份', '2016-12-20', 'C 制造业',  73350000, 34391025, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300576', '容大感光', '2016-12-20', 'C 制造业',  120000000, 39913895, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300577', '开润股份', '2016-12-21', 'C 制造业',  120762720, 35419536, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300578', '会畅通讯', '2017-01-25', 'I 信息技术',  73561000, 29448000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300579', '数字认证', '2016-12-23', 'I 信息技术',  80000000, 28741034, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300580', '贝斯特', '2017-01-11', 'C 制造业',  200000000, 66106400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300581', '晨曦航空', '2016-12-20', 'C 制造业',  90400000, 31400000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300582', '英飞特', '2016-12-28', 'C 制造业',  202602108, 119383043, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300583', '赛托生物', '2017-01-06', 'C 制造业',  107988667, 34043947, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300584', '海辰药业', '2017-01-12', 'C 制造业',  80000000, 31620633, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300585', '奥联电子', '2016-12-29', 'C 制造业',  160000000, 83713000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300586', '美联新材', '2017-01-04', 'C 制造业',  96000000, 24485000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300587', '天铁股份', '2017-01-05', 'C 制造业',  106500000, 41700224, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300588', '熙菱信息', '2017-01-05', 'I 信息技术',  100000000, 31287500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300589', '江龙船艇', '2017-01-13', 'C 制造业',  112671000, 33348738, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300590', '移为通信', '2017-01-11', 'C 制造业',  160000000, 97000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300591', '万里马', '2017-01-10', 'C 制造业',  312000000, 114400000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300592', '华凯创意', '2017-01-20', 'R 文化传播',  122381100, 81654900, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300593', '新雷能', '2017-01-13', 'C 制造业',  115540000, 66910314, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300595', '欧普康视', '2017-01-17', 'C 制造业',  124313920, 76002190, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300596', '利安隆', '2017-01-19', 'C 制造业',  180000000, 122479470, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300597', '吉大通信', '2017-01-23', 'I 信息技术',  240000000, 73500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300598', '诚迈科技', '2017-01-20', 'I 信息技术',  80000000, 48366440, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300599', '雄塑科技', '2017-01-23', 'C 制造业',  304000000, 90607000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300600', '瑞特股份', '2017-01-25', 'C 制造业',  100000000, 41275000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300601', '康泰生物', '2017-02-07', 'C 制造业',  421142000, 160072250, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300602', '飞荣达', '2017-01-26', 'C 制造业',  100000000, 30818600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300603', '立昂技术', '2017-01-26', 'I 信息技术',  102500000, 48280340, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300604', '长川科技', '2017-04-17', 'C 制造业',  78026000, 19050000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300605', '恒锋信息', '2017-02-08', 'I 信息技术',  84000000, 37321846, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300606', '金太阳', '2017-02-08', 'C 制造业',  89200000, 32881211, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300607', '拓斯达', '2017-02-09', 'C 制造业',  130442088, 57359568, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300608', '思特奇', '2017-02-13', 'I 信息技术',  88431500, 57604319, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300609', '汇纳科技', '2017-02-15', 'I 信息技术',  100902000, 52883127, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300610', '晨化股份', '2017-02-13', 'C 制造业',  150000000, 49741565, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300611', '美力科技', '2017-02-20', 'C 制造业',  178950550, 67772225, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300612', '宣亚国际', '2017-02-15', 'L 商务服务',  108000000, 30224963, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300613', '富瀚微', '2017-02-20', 'I 信息技术',  45315900, 12944500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300615', '欣天科技', '2017-02-15', 'C 制造业',  80000000, 21500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300616', '尚品宅配', '2017-03-07', 'C 制造业',  110390000, 37197744, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300617', '安靠智电', '2017-02-28', 'C 制造业',  66670000, 24470000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300618', '寒锐钴业', '2017-03-06', 'C 制造业',  120000000, 71240000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300619', '金银河', '2017-03-01', 'C 制造业',  74680000, 30462160, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300620', '光库科技', '2017-03-10', 'C 制造业',  88000000, 22000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300621', '维业股份', '2017-03-16', 'E 建筑业',  138621000, 42571429, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300622', '博士眼镜', '2017-03-15', 'F 批发零售',  85800000, 38350000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300623', '捷捷微电', '2017-03-14', 'C 制造业',  93600000, 42142500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300624', '万兴科技', '2018-01-18', 'I 信息技术',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300625', '三雄极光', '2017-03-17', 'C 制造业',  280000000, 92327552, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300626', '华瑞股份', '2017-03-20', 'C 制造业',  100000000, 52153625, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300627', '华测导航', '2017-03-21', 'C 制造业',  123272500, 50398573, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300628', '亿联网络', '2017-03-17', 'C 制造业',  149340000, 37340000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300629', '新劲刚', '2017-03-24', 'C 制造业',  66666700, 28844302, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300630', '普利制药', '2017-03-28', 'C 制造业',  122117620, 65984330, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300631', '久吾高科', '2017-03-23', 'C 制造业',  102624000, 69304000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300632', '光莆股份', '2017-04-06', 'C 制造业',  115800000, 28761700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300633', '开立医疗', '2017-04-06', 'C 制造业',  400010000, 40010000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300634', '彩讯股份', '2018-03-23', 'I 信息技术',  400010000, 40010000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300635', '达安股份', '2017-03-31', 'M 科研服务',  135680000, 34365640, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300636', '同和药业', '2017-03-31', 'C 制造业',  81298000, 34108109, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300637', '扬帆新材', '2017-04-12', 'C 制造业',  123278000, 30000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300638', '广和通', '2017-04-13', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300639', '凯普生物', '2017-04-12', 'C 制造业',  91017000, 22399000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300640', '德艺文创', '2017-04-17', 'R 文化传播',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300641', '正丹股份', '2017-04-18', 'C 制造业',  288000000, 72000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300642', '透景生命', '2017-04-21', 'C 制造业',  60562100, 15000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300643', '万通智控', '2017-05-05', 'C 制造业',  200000000, 50000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300644', '南京聚隆', '2018-02-06', 'C 制造业',  64000000, 16000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300645', '正元智慧', '2017-04-21', 'I 信息技术',  66666667, 16666667, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300647', '超频三', '2017-05-03', 'C 制造业',  122955000, 29999775, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300648', '星云股份', '2017-04-25', 'C 制造业',  67700000, 17000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300649', '杭州园林', '2017-05-05', 'M 科研服务',  128000000, 32000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300650', '太龙照明', '2017-05-03', 'C 制造业',  63148000, 15787000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300651', '金陵体育', '2017-05-09', 'C 制造业',  75733400, 18933400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300652', '雷迪克', '2017-05-16', 'C 制造业',  88000000, 22000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300653', '正海生物', '2017-05-16', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300654', '世纪天鸿', '2017-09-26', 'R 文化传播',  93350000, 23350000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300655', '晶瑞股份', '2017-05-23', 'C 制造业',  88249935, 22062500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300656', '民德电子', '2017-05-19', 'C 制造业',  60000000, 13304400, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300657', '弘信电子', '2017-05-23', 'C 制造业',  104000000, 26000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300658', '延江股份', '2017-06-02', 'C 制造业',  100000000, 25000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300659', '中孚信息', '2017-05-26', 'I 信息技术',  82775000, 20400000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300660', '江苏雷利', '2017-06-02', 'C 制造业',  101920400, 25270000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300661', '圣邦股份', '2017-06-06', 'C 制造业',  60883800, 14907000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300662', '科锐国际', '2017-06-08', 'L 商务服务',  180000000, 45000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300663', '科蓝软件', '2017-06-08', 'I 信息技术',  133948619, 32860000, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300664', '鹏鹞环保', '2018-01-05', 'N 公共环保',  480000000, 80000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300665', '飞鹿股份', '2017-06-13', 'C 制造业',  76000000, 19000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300666', '江丰电子', '2017-06-15', 'C 制造业',  218760000, 54689000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300667', '必创科技', '2017-06-19', 'C 制造业',  68000000, 17000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300668', '杰恩设计', '2017-06-19', 'M 科研服务',  42160000, 10580000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300669', '沪宁股份', '2017-06-29', 'C 制造业',  84200000, 21050000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300670', '大烨智能', '2017-07-03', 'C 制造业',  108000000, 27000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300671', '富满电子', '2017-07-05', 'I 信息技术',  101350000, 25350000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300672', '国科微', '2017-07-12', 'C 制造业',  111764668, 27941167, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300673', '佩蒂股份', '2017-07-11', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300675', '建科院', '2017-07-19', 'M 科研服务',  146666700, 36666700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300676', '华大基因', '2017-07-14', 'M 科研服务',  400100000, 40100000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300677', '英科医疗', '2017-07-21', 'C 制造业',  98234307, 24309827, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300678', '中科信息', '2017-07-28', 'I 信息技术',  100000000, 25000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300679', '电连技术', '2017-07-31', 'C 制造业',  120000000, 30000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300680', '隆盛科技', '2017-07-25', 'C 制造业',  68000000, 17000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300681', '英搏尔', '2017-07-25', 'C 制造业',  75600000, 18900000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300682', '朗新科技', '2017-08-01', 'I 信息技术',  416760300, 45000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300683', '海特生物', '2017-08-08', 'C 制造业',  103355040, 25838560, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300684', '中石科技', '2017-12-27', 'C 制造业',  86870000, 21720000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300685', '艾德生物', '2017-08-02', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300686', '智动力', '2017-08-04', 'C 制造业',  129483000, 31300000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300687', '赛意信息', '2017-08-03', 'I 信息技术',  80000000, 19789184, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300688', '创业黑马', '2017-08-10', 'L 商务服务',  68000000, 17000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300689', '澄天伟业', '2017-08-09', 'C 制造业',  68000000, 17000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300690', '双一科技', '2017-08-08', 'C 制造业',  69340000, 17340000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300691', '联合光电', '2017-08-11', 'C 制造业',  87543500, 21400000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300692', '中环环保', '2017-08-21', 'N 公共环保',  106670000, 26670000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300693', '盛弘股份', '2017-08-22', 'C 制造业',  91233553, 22810000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300695', '兆丰股份', '2017-09-08', 'C 制造业',  66677700, 16677700, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300696', '爱乐达', '2017-08-22', 'C 制造业',  68950000, 17250000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300697', '电工合金', '2017-09-07', 'C 制造业',  160000000, 40000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300698', '万马科技', '2017-08-31', 'C 制造业',  134000000, 33500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300699', '光威复材', '2017-09-01', 'C 制造业',  368000000, 92000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300700', '岱勒新材', '2017-09-12', 'C 制造业',  82400000, 20599500, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300701', '森霸股份', '2017-09-15', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300702', '天宇股份', '2017-09-19', 'C 制造业',  120000000, 30000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300703', '创源文化', '2017-09-19', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300705', '九典制药', '2017-10-10', 'C 制造业',  117340000, 29340000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300706', '阿石创', '2017-09-26', 'C 制造业',  78400000, 19600000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300707', '威唐工业', '2017-10-10', 'C 制造业',  78600000, 19649000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300708', '聚灿光电', '2017-10-16', 'C 制造业',  257330000, 64330000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300709', '精研科技', '2017-10-19', 'C 制造业',  88000000, 22000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300710', '万隆光电', '2017-10-19', 'C 制造业',  68614000, 17500000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300711', '广哈通信', '2017-11-01', 'C 制造业',  144195954, 36100000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300712', '永福股份', '2017-10-31', 'M 科研服务',  140080000, 35020000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300713', '英可瑞', '2017-11-01', 'C 制造业',  53125000, 10625000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300715', '凯伦股份', '2017-10-26', 'C 制造业',  72000000, 18000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300716', '国立科技', '2017-11-09', 'C 制造业',  106680000, 26680000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300717', '华信新材', '2017-11-06', 'C 制造业',  64000000, 16000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300718', '长盛轴承', '2017-11-06', 'C 制造业',  100000000, 25000000, 2);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300719', '安达维尔', '2017-11-09', 'C 制造业',  168000000, 42000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300720', '海川智能', '2017-11-06', 'C 制造业',  72000000, 18000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300721', '怡达股份', '2017-11-15', 'C 制造业',  80150000, 20050000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300722', '新余国科', '2017-11-10', 'C 制造业',  80000000, 20000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300723', '一品红', '2017-11-16', 'C 制造业',  160000000, 40000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300725', '药石科技', '2017-11-10', 'C 制造业',  73333334, 18333334, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300726', '宏达电子', '2017-11-21', 'C 制造业',  400100000, 40100000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300727', '润禾材料', '2017-11-27', 'C 制造业',  97600000, 24400000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300729', '乐歌股份', '2017-12-01', 'C 制造业',  86000000, 21032759, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300730', '科创信息', '2017-12-05', 'I 信息技术',  92945999, 23240000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300731', '科创新源', '2017-12-08', 'C 制造业',  87217391, 22000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300732', '设研院', '2017-12-12', 'M 科研服务',  72000000, 18000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300733', '西菱动力', '2018-01-16', 'C 制造业',  160000000, 40000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300735', '光弘科技', '2017-12-29', 'C 制造业',  354680000, 88680000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300736', '百华悦邦', '2018-01-09', 'O 居民服务',  54308700, 13577200, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300737', '科顺股份', '2018-01-25', 'C 制造业',  610666600, 152666600, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300738', '奥飞数据', '2018-01-19', 'I 信息技术',  65266000, 16320000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300739', '明阳电路', '2018-02-01', 'C 制造业',  123200000, 30800000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300740', '御家汇', '2018-02-08', 'C 制造业',  160000000, 40000000, 2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock, exchange) VALUE ('300741', '华宝股份', '2018-03-01', 'C 制造业',  615880000, 61588000, 2);